[2017-01-14 10:44] Flothecop opened #1 "Profile Save"
I have a little security issue the account nickname and keyword is saved in clear text, thats potential danger the most Hacktools search in brower&apps for password or nickname... p in Files for account`s to steal them
or use Keylogger, encode them in the *.txt please

[2017-01-21 13:53] sp0ok3r opened #2 "Add auto start up"

[2017-01-21 22:07] rex706 commented on #1
I'll add encryption for the account nickname for sure. What do you mean "keyword", though? If you're referencing the "PRIVATE_KEY" in the source, this is not the actual key that is pushed in the releases. If you mean the profile html or description, I could do those as well.

[2017-01-21 22:36] Flothecop commented on #1
password/keyword it's the key for an account

[2017-01-21 22:52] rex706 commented on #1
You may be using an older version some how. Check to make sure you are using version 1.0.2.0 as that is currently the latest and the password definitely gets encrypted before saving to a file.

Could you possibly elaborate a bit more on what you mean by import/export?

[2017-01-21 22:55] rex706 commented on #2
I'm going to assume you meant open with windows or something along those lines. It's ready and will be pushed in the next release.

Thanks for the feedback!

[2017-01-21 23:10] Flothecop commented on #1
Backup function
That I have not to change it if I use another System

[2017-01-21 23:38] Flothecop opened #3 "File Extract from *.rar (auto Update once an week)"
In Subfolder

Desktop
-SAM.exe
-(folder)  [ name "SamExCode" ]
_________________________________
Auto Update function

[2017-01-21 23:50] rex706 commented on #3
If you downloaded the latest release, it should have come with 3 files, one of which should be "Updater.exe". This will check for updates on application start up if you kept it in the same directory as SAM.exe and there is a valid internet connection. If an update is found, it will acquire the updated file(s) and start the new updated program automatically.

[2017-01-21 23:56] Flothecop commented on #3
/*SAMSettings.ini
info.dat
Updater&dll*\
In one folder and Sam.exe (not every one have a clean desktop)

[2017-01-22 01:31] rex706 commented on #3
SAMSettings.ini and info.dat are generated the first time you use the program. Just throw all of these into a folder somewhere and create a shortcut to SAM.exe. I usually extract the rar to its own directory right off the bat to avoid things getting cluttered easily.

[2017-01-22 15:16] #2 closed

[2017-01-22 19:12] Flothecop commented on #3
I use Makro's for every tool in Windows

[2017-01-23 14:58] #3 closed

[2017-01-23 14:58] #1 closed

[2017-02-01 22:23] sp0ok3r opened #4 "Suggestions"
1 º -  If description is blank, don't display it on menu,

2 º - Maybe add minimize,

3 º - Add setting to auto save steam (remember password)
Because when my windows starts, i have to type the pw in. (2lazy4SteamGuard)
![forsam](https://cloud.githubusercontent.com/assets/7952298/22528829/dec8859e-e8cc-11e6-8645-9bf689ada560.jpg)

[2017-02-04 05:34] rex706 commented on #4
The blank description was an easy fix. I had no idea that was an issue since I use descriptions for all of my accounts. Minimize I have been on the fence about, but since you suggested I will enable it.

As for the 'Remember my password' setting, though, that may not be possible. Currently, I am using Steam's command line parameters to log in the selected account. There is no parameter for enablin

[2017-02-12 02:27] sp0ok3r commented on #4
Thanks!

[2017-02-12 02:27] #4 closed

[2017-03-14 00:00] sp0ok3r opened #5 "Suggestions #2"
* Start with windows but minimized ,
* Maybe add the ability to export all accounts to file,

It really needs to reload steam every time i open sam?
I think before installed sam the login_key worked, this is because that problem of the parameter?

[2017-07-22 03:20] Baxxster opened #6 "Username field won't accept e-mail"
Hello,

There's a problem adding an steam account that was created a long, long time ago that requires login with e-mail and not username. Is it possible to get support for e-mails in "Username" field?

[2017-09-06 22:35] rex706 commented on #6
Does steam allow logins with email instead of username still? I just tried it a few times with no success. Could just be an account setting of mine somewhere though.

I fixed the error that caused emails not being accepted in the username field and will push an update if you are sure emails can be used at the steam login window.

[2017-09-06 22:56] Baxxster commented on #6
Yes, they do still support e-mail login, and Unable to convert the account to a "normal username" :( Would be great if you add this support! :)

[2017-09-07 00:44] rex706 commented on #6
Pushed the fix! Let me know if there is any issues.

[2017-09-07 13:53] rex706 commented on #5
Finally have more time to work on this project. Start with windows minimized can be done fairly easily. The accounts are already sort of saved to a file but I suppose I can add a feature to save a copy of that file elsewhere.

SAM reloading steam every time it opens is a product of using the auto-login feature. I will try to think of a way around this. Maybe only trigger the auto-login if steam is

[2017-09-08 16:17] #5 closed

[2017-09-08 16:17] #6 closed

[2017-09-08 21:16] sp0ok3r commented on #5
Thanks

[2017-09-08 22:00] dico commented on #6
Thank you! This fix helped me use my first steam account, which still uses mail login.

[2017-12-27 16:16] ghost opened #7 "[2FA Auth Code] Need auto login with .maFile"
https://github.com/Jessecar96/SteamDesktopAuthenticator

Maybe this will help you to auto put 2FA to steam when you log in. :)

[2018-07-24 05:35] silentshotghost opened #8 "Profile Pic Not Being Shown"
Profile pic not being shown and yes i did add steam url, i even tried editing the .dat file both methods didn't work

[2018-07-30 00:21] wazerstar opened #9 "2fa support?"
would be really nice to get this,

source:
https://github.com/Jessecar96/SteamDesktopAuthenticator

[2018-08-04 17:38] rex706 commented on #8
Steam updated their profile pic urls. Will be fixed in the next update!

[2018-09-03 23:41] krsu commented on #8
fixed it temporarily for anyone who doesn't want to wait

https://github.com/rex706/SAM/pull/11

[2018-09-04 21:48] rex706 commented on #8
Sorry for the delay, been super busy. Will get this fixed asap.

[2018-10-31 00:40] #8 closed

[2018-10-31 00:41] rex706 commented on #8
Apologies for taking so long to publish this. I ditched the new updater and released like normal.

Please let me know if there are any more problems regarding this.

[2018-11-11 14:27] martini333 opened #12 "Crashes when clicking on Settings"
Crash when clicking on Settings

[2018-11-14 22:44] rex706 commented on #12
I don't have that problem and I have testing updating the app on multiple machines. If this keeps happening, you can just delete the settings ini file and it should generate a fresh one the next time you open SAM. Let me know if that works.

[2018-12-11 23:21] #12 closed

[2019-02-19 00:14] #7 closed

[2019-02-19 00:14] #9 closed

[2019-02-19 00:24] rex706 commented on #7
The latest update now supports 2FA from the .maFile!

[2019-02-19 00:24] rex706 commented on #9
The latest update now supports 2FA from the .maFile.

Cheers!

[2019-02-19 01:01] wazerstar opened #14 "1.2.3.0 crash when entering"
Going to edit > settings makes the app freeze and then crash.

[2019-02-19 01:06] wazerstar opened #15 "1.2.3.0 2accoutns with 2fa, makes SAM freeze and messes up input of 2fa"
Having 2 accounts added, then clicking login on one of them makes the app freeze, followed by a crash or freezes such long enough it gives error at 2fa input screen.

[2019-02-19 01:07] rex706 commented on #14
Interesting. I have not had this issue when testing. Worst case scenario you should be able to delete your SAMSettings.ini and reconfigure what you had. This should not affect the accounts you currently have set up.

Someone else had reported this issue before, so I will have to take a closer look into why this could be happening.

[2019-02-19 01:09] wazerstar commented on #14
I just did it 3 times with clean installation of sam

Windows 10 x64 16gb 8700k 1080ti gfx, latest updates as of today.

[2019-02-19 01:11] rex706 commented on #14
Looking into it now. Thanks for the update.

[2019-02-19 01:16] rex706 commented on #14
After downloading a clean install from the Releases tab and extracting a fresh SAM_1.2.3.0.zip into it's own folder with nothing but SAM.exe and Updater.exe, SAM loads up fine and I do not crash when clicking on Settings through the menu.

Is there anything else you can provide me?

[2019-02-19 01:21] rex706 commented on #15
SAM will wait for the 2FA window to show before continuing execution if a shared secret is configured for the account. Are you clicking on anything else while waiting for SAM to log you in after selecting an account? This shouldn't matter, though, as it will focus the 2FA window after the code is generated.

[2019-02-19 01:50] wazerstar commented on #15
No it tries actually to inject before and says that the it was invalid in steam, I do not touch anything, if anything its because of the freeze in the app of SAM.

[2019-02-19 01:51] wazerstar commented on #14
My windows is totally fresh, I just checked an ryzen machine too, did the same. You said you had another guy doing it too, i think there needs to be some checks and sleep/loose something up and be 100% sure the app is started steam/sam.

[2019-02-19 01:55] rex706 commented on #15
Very weird. I have multiple accounts with 2FA active working fine.

You configured the shared secrets for the respective accounts, correct?

Add me on Discord so we can discuss your issues more easily: rex706#6521

[2019-02-19 02:28] rex706 commented on #14
I had another friend with an 8700k download a fresh copy on his machine and had no crash issues opening the settings.

I really want to help solve your issue, so feel free to add me on Discord so we can more quickly figure out what is wrong: rex706#6521

[2019-02-19 02:32] GhostZAR commented on #14
I have the same issue, 1.2.2.0 was working fine until I was prompt with a new update. I updated it and when it opened, it froze for a few seconds and then closed. I tried deleting SAMSettings.ini but it was still happening. I re downloaded 1.2.2.0 and used the same info.dat and SAMSettings.ini files and it worked fine, so it has to do with this new update.

[2019-02-19 02:34] rex706 commented on #14
Well that's not good.

I will take another closer look and run some additional tests.

[2019-02-19 02:45] Prostar13810 opened #16 "Crahses if using old .dat file"
If you load the new update with old .dat file or import it, the program freezes. The reason for this is this line is not in the old .dat files, and the program doesn't know what to do without it.

<SharedSecret>numbers and stuff</SharedSecret>

If the <SharedSecret> is not in .dat file, the program will just freeze. Maybe when you update or import it, you create the new line?

Hope this helps you

[2019-02-19 02:50] rex706 commented on #16
Thank you very much for bringing this to my attention. I was having a hard time isolating the issue. I'll push a new update that handles this scenario soon.

[2019-02-19 03:01] rex706 commented on #14
Someone from another thread isolated the problem and I have since fixed the issue and am putting together another update. Thanks for the help and sorry for the inconvenience guys.

[2019-02-19 03:07] rex706 commented on #14
I have just pushed a new update: 1.2.3.1.

Please let me know if this is still an issue.

[2019-02-19 03:08] rex706 commented on #16
I have just pushed a new update that should address this issue.

Let me know if the problem still persists.

Thanks again for actually isolating the problem.

[2019-02-19 03:59] Prostar13810 commented on #16
Yep fixed, sorry wrote issues and didn't realise Github comments don't like Greater than and Less than symbols, the line was "SharedSecret". Sorry about that.

The Update fixed the issue, thank you.

Would it be possible to import accounts from a text file
user:pass
user:pass
for saved accounts in text file.

Thank you and keep up the good work.

[2019-02-19 04:44] rex706 commented on #16
Great! Glad it's working.

I will definitely look into some kind of mass import option, but the problem then becomes how to allow input for some fields and not others without having to have users build their own XML or JSON files. For example, when trying to utilize the new 2FA supported field.

Thanks again for identifying the problem!

[2019-02-19 04:44] #16 closed

[2019-02-19 04:49] GhostZAR commented on #14
Seems to be working fine, thanks for the fix :)

[2019-02-19 04:53] rex706 commented on #14
Glad it's now working!

Thanks again for bringing the issue to my attention.

[2019-02-19 04:53] #14 closed

[2019-02-19 06:22] rex706 commented on #15
I think I now understand what you mean. Sorry for not understanding at first.

Apparently the 2FA does not work the second time a 2FA account is used with the same instance of SAM running. I have replicated this problem and will come up with a fix for it soon.

In the mean time, though, you should be able to just close and reopen SAM to log into the other account you need.

[2019-02-19 11:16] wazerstar commented on #15
Here's what I did as of with 1.2.3.1.

I was already logged in by manual.

I have 2 accounts added with 2fa and steam profiles.

I click on the second added account, it logs in fine.

Then I try to test account "first being added"

it logs into steam and still gives the 2fa error where SAM freezes.

I then do what you told me to do, shut down SAM and try opening the account again, but SAM closes i

[2019-02-19 11:40] wazerstar opened #17 "Suggestion allow us to export accounts by selecting those we want to be exported."
As topic says, right now there's no way to export desired account by choice :)

I know there's other prioritizes, just wanted to add it before I forgot about it again.

[2019-02-19 11:54] wazerstar commented on #15
Not sure if you closes steam properly, but steam actually allows command line to be executed for shutdown.

Think that would much more safe to use and also make sure steam shuts down properly, and then check if all its processes are closes or not.

ie.
steamwebhelper.exe
steam.exe
SteamService.exe

cmd
steam.exe -shutdown

[2019-02-19 15:26] gmmanonymus111 commented on #15
@rex706 @wazerstar I think the problem is that SAM tries to enter the 2fa code before the steam prompt loads properly. I encountered this problem after modifying the code to type user/pass (instead of -login parameter) to make steam save the password.
SAM missed the first 4 characters of my usernames there, after adding a 5-second delay, it worked. I think 500-1000 ms should be enough for 2fa popu

[2019-02-19 16:23] wazerstar commented on #15
Can just read titles of windows, and only paste if active window is active and if not wait for it.

Yeah would like that option too, to enter username/password too to make save account until next restart of steam.

[2019-02-19 17:07] rex706 commented on #15
@gmmanonymus111 @wazerstar My original approach with SAM was to do what you suggest and enter the login fields manually somehow in order to get Steam to remember the last logged in account, but I ran into exactly what you're describing with the window not being fully initialized. I hesitate to just go the *easy* route with timers, but that may still not handle every situation correctly if a user h

[2019-02-19 21:32] wazerstar commented on #15
sounds good, just remember to make a second check when doing steam.exe -shutdown, If i remember correctly you cannot shutdown steam while a game is open hence it will say a game is still running, please exit before closing steam,

[2019-02-21 00:01] rex706 commented on #15
@wazerstar @gmmanonymus111 I think I have figured out a nice way to wait for the Steam Guard window to be fully initialized and ready for input. I decided to go back and see if I can get this to work when logging in too, but the problem then becomes the previously logged in user already occupying the 'Account name' field, which makes the input cursor start on the password field. I am not sure if t

[2019-02-21 00:44] wazerstar commented on #15
Will u compile > release too? :D

[2019-02-21 00:57] rex706 commented on #15
@wazerstar I will definitely make another release after I run some more tests on a few more *slower* devices and confirm what I came up with works.

Maybe @gmmanonymus111 can test it out too and see if they can get logged in consistently?

[2019-02-21 05:37] gmmanonymus111 commented on #15
Sure, I'll run some test, but I can do that only tomorrow.
For the login username issue, I faced the same, my solution was to click on
the username field, press Ctrl-a (this selects all text, or does nothing
depending on the contents of this field), then start typing. This solution
needs relative coordinates, so it should always work off the user has the
default steam skin (I also led to test with

[2019-02-22 13:16] gmmanonymus111 commented on #15
@rex706 I finally got time to test it, but sadly it doesn't work as it should be. First login is ok, then the second/third etc will hang because of a wrong auth code (SAM detects the popup, but for some reason, it types instantly, like `WaitForInputIdle` wasn't even there. I'm not sure about slow PCs, though.

[2019-02-22 14:30] rex706 commented on #15
@gmmanonymus111 Yeah I was having the same issue unfortunately. The first login attempt works fine, but every time after that without restarting SAM does not work as if it completely ignores the wait function like you said.

I will check out your pull request and see if that solves the problem!

[2019-02-22 22:24] rex706 commented on #15
It auto closed the issue when I merged the code.

@gmmanonymus111 Frustratingly, this doesn't seem to work for me every time. The super weird part is that even though I can clearly see SAM typing in the code well after the window has been fully loaded, it still gives me the `Sorry that wasn't quite right` error, but not always.

Now I'm waiting how ever long Steam makes you wait for too many incor

[2019-02-22 23:06] wazerstar commented on #15
A steam guard code takes very long time to expire even after it has already been renewed by another code, you can check for your self, copy one and wait a few minutes, it will still work :)

[2019-02-23 01:35] rex706 commented on #15
@gmmanonymus111 Oddly enough, using the regular `GenerateSteamGuardCode()` instead of the one that uses a time input fixes the problem I was having with the incorrect codes. It works every time I have tested without fail so far. Is there a specific reason you decided to use this one over the default one?

I'm still trying to figure out how to fix the problem of not waiting for the 2FA window unles

[2019-02-23 09:23] gmmanonymus111 commented on #15
@rex706 Well, I tought it would be a good idea to sync with steam's time before generating a code to avoid problems in case something with local time is not right but if the generation works (even better) without steam time, I won't complain.

[2019-02-23 22:35] #15 closed

[2019-02-23 22:41] rex706 commented on #17
@wazerstar Is right clicking an account to export via the context menu good enough? Or were you looking for something more along the lines of selecting the accounts you want to batch export?

[2019-02-23 22:43] wazerstar commented on #17
What about letting us mark accounts then be able to export selected?

[2019-02-23 23:51] wazerstar opened #20 "Suggestion: Make usage og auto launch account during windows startup"
Lets say you can make program startup during windows startup and be able to select one account that can startup after a period of 5 seconds if not interrupted, this way we can make sure that steam is always logged into desired account during reboot

[2019-02-23 23:57] wazerstar commented on #20
I just found out its implemented, but its bugging, it will crash randomly if you click pre selected, then you are forced to clean the ini file and start all over.

[2019-02-24 00:17] rex706 commented on #20
I'm not quite sure how you're crashing. I just tried going through it a few times and nothing bad happened for me.

Are you selecting 'Auto Login' on the account you want to be shown as 'Pre-selected'?

If I don't have an account selected for 'Auto Login', trying to select 'Pre-selected' shouldn't do anything unless you had something already set for this previously.

[2019-02-24 01:08] wazerstar commented on #20
There's a lot of bugs, i will paste most common I have when I test the app.

Having a another window infront and using auto minimize will cause the auth window not to show and give wrong error message.

Perhaps make pause and ask user to make auth window infront.

http://prntscr.com/mp9jod

-------------------------------------------------------------------------

Having these settings where I sel

[2019-02-24 01:18] wazerstar commented on #20
oh and for first initial run, perhaps read Computer\HKEY_CURRENT_USER\Software\Valve\Steam
string
REG_EZ
SourceModInstallPath it will read example **D:\Games\Steam\steamapps\sourcemods**

remove from string \steamapps\sourcemods and you have steam path.

Then you can ask users on initial run that "We found this steam path, is this correct" yes / no :)?

[2019-02-24 01:31] rex706 commented on #20
That's actually a really good idea. I had not thought about checking the reg keys for that info.

[2019-02-24 01:46] wazerstar commented on #20
btw. you could eliminate the users to point to profile url simply by reading

Steam\config\config.vdf file then match up the username they add in SAM with the one found in config.vdf and then simply extract the steam id

http://prntscr.com/mp9tx4

and parse to

http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/?key=APIKey&steamids=76561197960435530

Which will give you those details.

[2019-03-09 19:12] rex706 commented on #20
I discovered that you can get this info without having to parse the config.vdf by utilizing:

https://api.steampowered.com/ISteamUser/ResolveVanityURL/v0001/?key=ApiKey&vanityurl=userName

from the web api as well and then use the GetPlayerSummaries api call after. This way it should work every time regardless of whether or not the local steam files have knowledge of the account and as long as the

[2019-03-10 18:54] wazerstar commented on #20
My account is from day 1, I use email, I could test.

[2019-03-11 02:11] rex706 commented on #20
@wazerstar Does your config.vdf have your email address listed for that user's name?

[2019-03-11 13:10] wazerstar commented on #20
Yes

[code]

[2019-03-11 13:28] rex706 commented on #20
@wazerstar Perfect, it should work fine then. I will change the priority to parse the config.vdf first and then check the web api if that fails instead of the other way around.

I should be able to make a new release this week if not later today if all goes well!

[2019-03-11 13:41] wazerstar commented on #20
Will you make checks for active window or maybe do better method like using [controlsend](https://www.autoitscript.com/autoit3/docs/functions/ControlSend.htm) that autoit uses, I guess whatever language you use it should be possible too?

[2019-03-11 14:00] rex706 commented on #20
@wazerstar  So I actually do check for that actively now. There is a function called .WaitForInputIdle(), which I use to wait for the Steam process to expect input, but for some reason doesn't want to work every single time. I tried to fix this by forcing it to manually wait for a second and then make sure the 2FA window is at the front for every single key press instead of just at the beginning o

[2019-03-12 05:12] gipperpank opened #21 "Sam to steam-partable"
please add a condition to: if " SAM "in the same deriktorii" Steam.exe "then do not display the search dialog" Steam.exe " is for portable versions of Steam

if you do not specify the location "Steam.exe " but " SAM "will be in the same directory that everything works but interferes with the search dialog" Steam.exe"

[2019-03-12 13:32] rex706 commented on #21
The next release of SAM will search for the installed Steam path via the registry, but I will also include checking the directory it is installed in, as it may not make a registry entry in portable mode.

[2019-03-12 15:54] gipperpank commented on #21
one of the features of "Steam portable vers."that it at start it adds keys to the register and at correct completion deletes them (saving locally) and if "Steam" is on USB, then on the following computer "SAM" will request a place position "Steam.exe "I would like to unite" SAM " and "Steam" in the portable version that at start the first was started "SAM" and it in turn started "Steam" and that e

[2019-03-12 16:11] rex706 commented on #21
Thanks for the additional explanation. I will also have SAM check if the saved Steam path exists on launch, and if not, trigger the auto-lookup (including your initial suggestion to check the SAM install directory), which if that fails will prompt for the user to locate Steam since the registry key is removed when it closes in portable mode as you said.

[2019-03-14 07:24] #21 closed

[2019-03-17 17:12] MikkelDK opened #22 "Problems: Autologin (fail, where it wont accept password?)"
Hello,

Seems, I have problems with using "SAM" about, it will not "autologin" (not even if password <-> saved as "hashed".

What can I do?

I can make it, so I can "log in", without I need to enter the password to Steam Account every time.

If I try login (via SAM) it will show this error with:
![](https://i.gyazo.com/0421b54b694e9ecafcf3dea407e336f1.png)

**But the login works fine, SAM program

[2019-03-17 17:12] MikkelDK commented on #22
@rex706 Maybe you have some idea?

[2019-03-17 18:07] rex706 commented on #22
@MikkelDK if both your username and password are entered _correctly_ through the SAM ui, it should have no problems logging you in normally.

However, I know that there is a bug with the auto login feature in the current release not working for the very first account, but I have fixed that and should work fine in the next release coming out soon.

I just got back from some time away and will get t

[2019-03-17 18:13] MikkelDK commented on #22
@rex706

Correct, both /username and password are entered, under (+) for add them, on the "SAM" > for it **should** login on, if I "click", which it does. (But it won't accept the password as an example) - Seems it only happens on "First Account, but if I adding 2 other, it works fine"

Great to hear, the new release will upcoming soon! ;)

[2019-03-20 23:01] rex706 commented on #17
In the new version, go the Select option under Export in the File menu and click on each account you would like to export :)

[2019-03-20 23:01] #17 closed

[2019-03-20 23:02] rex706 commented on #22
@MikkelDK Let me know if this is still an issue in the latest version

[2019-03-20 23:02] rex706 commented on #20
@wazerstar There may still be some discrepancies with waiting for the 2FA window, but try the new version and let me know what you think.

[2019-03-21 06:30] wazerstar commented on #20
@rex706 I only tested 3 accounts and all 3 accounts failed with image profile, 2 of them getting profile pictures from alias steam accounts that actually is the login for my accounts and my main I just deleted the profile in sam to test if it would grab the image it self, nothing happen.

[2019-03-21 06:42] MikkelDK commented on #22
@rex706 After I did installed the /unpacked\ the new update.

It's still made, the same problem (on First Account) as noted on
//As a note: You **need** to delete the old **info.dat** before it works! ;-)

//Update 07:41 CEST: It works now after I did create (new) info.dat ;)
Thanks anyway!

[2019-03-21 13:16] #22 closed

[2019-03-21 13:42] rex706 commented on #20
@wazerstar The 4 accounts I was testing with all worked fine for me and they all are different. Some don't have an alias url, for example. While I can't test the email account, it should work the exact same way.

SAM now checks the config.vdf _first_ for any accounts that match what is entered in the Username field. It will then use the SteamId attached like in your original suggestion to find you

[2019-03-21 14:37] wazerstar commented on #20
You cannot have identical aliases, thats why i mentioned you should use the web api to pull their profile steamid steam installation it self first via the config.vdf then compare the steam id via this link
and get their logo that way.

`api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/?key=XXXXXXXXXXXXXXXXX&steamids=76561197960435530`
`
api.steampowered.com/ISteamUser/GetPlayerSummaries/v0

[2019-03-21 17:15] rex706 commented on #20
@wazerstar Here is the C# function that SAM currently uses in the new update to get the user JSON:
https://github.com/rex706/SAM/blob/abbffda2fd4b7f83bbc1e4941156dba3e89e0a6e/SAM/Utils.cs#L202

As you can see, it first tries to find the SteamId from the config.vdf, and only if that fails, try to get the SteamId from `"http://api.steampowered.com/ISteamUser/ResolveVanityURL/v0001/?key=" + apiKey +

[2019-03-21 20:36] wazerstar commented on #20
I will test again with totally clean SAM extract and add multiple accounts and see if it works.

[2019-03-21 21:02] wazerstar opened #23 "Suggestion: Be able to re-arrange (maybe drag and drop) accounts around, which should be first etc."
As title says.

[2019-03-21 21:04] wazerstar opened #24 "Correctoin: Be able to move window around on initiale start, not possible in current state."
Make Top bar 1-2cm wide from initial start, the window is locked, cannot be moved around until 1-2 accounts has been added, kinda annoying from start.

![draggy](https://user-images.githubusercontent.com/4474519/54785052-888db500-4c25-11e9-93dd-9b5a1bc0fc94.png)

[2019-03-21 21:23] rex706 commented on #20
Alright I will do some more testing myself and potentially create a log file to better sort this stuff out. I should be able to spoof a couple email accounts with my own steamids to better test that scenario as well.

Are the 4 accounts that failed all email users? Very weird they are not being recognized by the Vdf parser.

Thanks for your patience with these issues!

[2019-03-21 22:14] rex706 commented on #23
I knew this request would come eventually! I'll see what I can do ;)

[2019-03-21 22:59] wazerstar commented on #20
both :)

[2019-03-21 23:01] Asmund11 opened #25 "It doesn't work with Steam Guard"
I'm trying to login to account with connected Steam Guard but it doesn't login, it asks Steam Guard code. Ofc i put my "shared_secret" in settings, if you gonna tell me about it.
P.S. I tried with two different "shared_secret" codes bcs i changed my phone number in Steam, and now "shared_secret" code different in my phone app and in SDA. Difference is just 1 thing - "\". I tried to login with and

[2019-03-21 23:38] rex706 commented on #25
@Asmund11 does any code generate and appear in the Steam Guard window at all? And you should include everything within the quotations marks but not the quotations marks themselves, which probably includes '=' at the end.

[2019-03-21 23:41] Asmund11 commented on #25
Nothing doesn't generate in the Steam Guard window. Just to be sure, "shared_secret" code can looks like this "\/glkgLKhlkLKgkGLkgLKGlk=" and i must put just \/glkgLKhlkLKgkGLkgLKGlk=
Right?

[2019-03-21 23:44] Asmund11 commented on #25
Btw SAM is stuck when i'm logging into Steam account with Steam Guard

[2019-03-22 17:07] Asmund11 commented on #25
Any help?

[2019-03-22 17:59] rex706 commented on #25
@Asmund11 If you are doing it all correctly, which is sounds like you are, then it may be an issue with the [timing](https://support.steampowered.com/kb_article.php?ref=8625-wrah-9030#notworking). I will reintroduce the Steam TimeAligner() function when generating an auth code that _should_ handle this when I get back from work later to see if that helps.

[2019-03-22 22:11] wazerstar commented on #25
I can confirm that sam freezes when trying to login to steam, saying in windows not responding.

[2019-03-22 22:40] rex706 commented on #25
@wazerstar It freezes always? I never have any freezing issues unless the 2FA fails, which it does not for me.

[2019-03-22 22:54] Asmund11 commented on #25
2FA fails always for me, so it freezes always for me

[2019-03-22 23:00] Asmund11 commented on #25
https://streamable.com/pfj93

[2019-03-22 23:04] Asmund11 commented on #25
How to update? I see you updated the program
![Аннотация 2019-03-23 010337](https://user-images.githubusercontent.com/29029324/54857361-9e73a680-4d07-11e9-935e-ac8dcd89e43b.jpg)

[2019-03-22 23:20] rex706 commented on #25
@Asmund11 Thanks for the video clip. I'm trying to narrow down the problem. Also, the Updater is not meant to run independently and is opened by SAM when it detects there is a new update available automatically when it opens.

[2019-03-23 00:50] Asmund11 commented on #25
It still doesn't work for me =(
https://streamable.com/1lqxg

[2019-03-23 01:37] rex706 commented on #25
@Asmund11 I have made code changes and commits, but I have not released a new official downloadable update/release yet.

Since I'm not entirely sure what the issue is regarding your 2FA problem, please try this pre-release version: [SAM_12.4.1-pre1.zip](https://github.com/rex706/SAM/files/2998891/SAM_12.4.1-pre1.zip) and let me know if it generates your 2FA codes.

[2019-03-23 16:38] Asmund11 commented on #25
Doesn't generate. Omg. Does it generate for you?

[2019-03-23 16:38] wazerstar commented on #25
I have tested this 12.4.1-pre1 it works better without freeze? at least what I tested and yes 2fa works still.

[2019-03-23 16:59] Asmund11 commented on #25
Yeah, freeze no longer exist. But generating codes... =( I can't understand what's problem

[2019-03-23 17:06] rex706 commented on #25
@Asmund11 Maybe since your system language is not English, it is having hard time finding the Steam Guard window using the FindWindow() function. Since it looks like the words "Steam Guard" are still in English no matter what, I may be able to use that instead of the entire window title. I will make another test build for you to try soon.
![window_title](https://user-images.githubusercontent.com/1

[2019-03-23 17:11] Asmund11 commented on #25
Ohhhh, finally, its really working with English steam language!

[2019-03-23 17:26] wazerstar commented on #25
Then you should look for "Steam Guard -" and not "Steam Guard", since it seems that all language uses "Steam Guard - " & "language text"

So "Steam Guard - " <- "SteamSPACEGuardSpace-Space"

This would prevent issues if people having browser/folders/other files opening named Steam Guard.

[2019-03-23 17:32] wazerstar commented on #25
btw I think you should include and wait if window is not active, either try a second time to make steam guard window active or wait until its active, maybe like 20-30 seconds, and then give error sound or something, right now if window fail, it just stops right away.

[2019-03-23 20:29] a6d6061ed1 opened #26 "scaling issue"
If you add a lot of accounts, they're not going to fit because button grid has no scrollbar implemented.
It looks like this:
![Image](https://i.imgur.com/MLgSgbV.png)

[2019-03-23 20:38] a6d6061ed1 opened #27 "improper use of steam api"
I may be mistaken but...

right here: https://github.com/rex706/SAM/blob/262d8240bb41a6bdd48ea845a241d547b7dd4452/SAM/TextDialog.xaml.cs#L78
is an attempt to resolve steamid using steam login (username). This has no chance to ever work because "ResolveVanityURL" webapi method takes **vanityurl** as parameter which is steam custom URL and not steam login username.

I checked to make sure and if I t

[2019-03-23 20:57] rex706 commented on #27
@a6d6061ed1 you are correct and unfortunately this does not work well in many cases. I think this will actually only work correctly if you set your profile url on your account in steam to your username.

For example, my account community url is `https://steamcommunity.com/id/rex706` so it would work for me on that particular account if it did not already exist in the config.vdf.

As far as I know,

[2019-03-24 00:20] rex706 commented on #20
@wazerstar is it possible that the case of the account names are the issue? In the current release, if what is in the username field does not exactly match the case of what appears in the config.vdf, it won't work. I could make everything lowercase in the code to prevent this problem if this is the case.

[2019-03-24 00:28] wazerstar commented on #20
I can give you an account that takes picture from another account

This is the login name zuler all lower and profile is https://steamcommunity.com/id/the12341/

but takes picture from https://steamcommunity.com/id/Zuler/

[2019-03-24 00:35] rex706 commented on #20
@wazerstar very strange. It works for me if I add that info to my config file. What is the file path to your config.vdf? The path I use in the code is:

https://github.com/rex706/SAM/blob/08c337f826adacfd882565208bab56819b058618/SAM/Utils.cs#L212

and my steamPath = `c:/program files (x86)/steam/`, which was found from my registry key.

[2019-03-24 00:36] wazerstar commented on #20
D:\Games\Steam\config

could we do some skype/discord/steam chat instead of this :D

[2019-03-24 00:37] rex706 commented on #20
@wazerstar add me on discord: rex706#6521

[2019-03-24 00:38] wazerstar commented on #20
done

[2019-03-24 01:15] wazerstar opened #28 "Feature Request: Tray(Right-Click) and Alias naming for each account"
Tray function with direct login to steam accounts
http://prntscr.com/n22ile

Alias to hide login name for account on gui and tray
http://prntscr.com/n22ha1

[2019-03-24 01:23] wazerstar opened #29 "Feature Request: Password Protection"
A simply popup that says Password needed which of course would need to encrypt the entire config file if Password is applied.

[2019-03-24 20:25] rex706 commented on #20
Turns out that my config.vdf was very out of date and used a lowercase "steam" in the property path to "Accounts" instead of an uppercase "Steam", and therefore parsing the config for most people fails. I fixed this for the next release, but for now you can manually change your config.vdf "Steam" property to lowercase to get the parsing to work correctly. I have not noticed any side effects of doi

[2019-03-26 17:11] MikkelDK opened #30 "[BUG] Opening SAM > it's closing pretty fast."
https://i.gyazo.com/77cb28c9ebc55812b58be58477c35a48.mp4

I did upload a gif! ;)

[2019-03-26 17:12] MikkelDK commented on #30
@rex706 maybe you know about the problem?

[2019-03-26 17:31] rex706 commented on #30
@MikkelDK looks to me like either your SAMSettings.ini or info.dat may be corrupt. Maybe try deleting one or both?

[2019-03-26 17:32] MikkelDK commented on #30
awawwh really?
:-(

/Update 18:32 - I did deleted SAMSettings.ini and it works again <3

[2019-03-26 17:43] rex706 commented on #30
@MikkelDK glad you didn't have to delete your info.dat! I'm curious to what could have been invalid to cause that issue.

[2019-03-26 17:44] MikkelDK commented on #30
@rex706 it's just weird, sometimes, I need to "enter" the password manually :/

[2019-03-26 17:47] rex706 commented on #30
@MikkelDK that should only happen if the password you entered into SAM is incorrect. SAM just opens Steam using your username and password as [launch parameters](https://support.steampowered.com/kb_article.php?ref=5623-QOSV-5250).

[2019-03-26 17:50] MikkelDK commented on #30
Weird, the password is correct anyway! :-D

Maybe, you should make a setting, so it's possible to "re-enter" the password, so it's saved on SAM's info.dat file maybe?

[2019-03-26 17:51] rex706 commented on #30
@MikkelDK SAM does save your password in an encrypted form. You can open info.dat with notepad to see for yourself.

[2019-03-26 17:55] MikkelDK commented on #30
Seems, it can't find out with this type: YB;UFFr"-[r6/m)A < As an example. @rex706

[2019-03-26 17:58] Asmund11 commented on #25
Update download link pls, i see you fixed trouble with Steam other languages

[2019-03-26 18:02] rex706 commented on #30
@MikkelDK  the '-' character is most likely being interpreted as another launch parameter since that is generally the syntax used for those things. I don't think I can do anything about that with the current way SAM logs users in. I've tried to automatically type info into the login window, but the problem then becomes not being able to know if there is text in the first box (username) or not, whi

[2019-03-26 18:10] MikkelDK commented on #30
@rex706 thanks for know! I think, i will remove the '-' ;) seems, SAM will not let it login with '-' ;)

Thanks anyway, and have a great afternoon! ;) <3

[2019-03-26 18:10] #30 closed

[2019-03-26 18:30] rex706 commented on #25
@Asmund11 I will when it's ready.

[2019-03-27 01:54] #24 closed

[2019-03-27 01:54] #25 closed

[2019-03-27 01:54] #28 closed

[2019-03-27 02:03] #20 closed

[2019-03-27 03:06] wazerstar commented on #23
how to drag and drop with latest version?

Also can you make sam go away from taskbar option to only show in tray.

[2019-03-27 13:13] rex706 commented on #23
@wazerstar that feature wasn't ready for this version. I'm most likely going to have to rearrange some stuff to have it work well, which is taking longer than I expected.  Some of the base code is there in the current version, but is commented out for now.

[2019-03-27 21:30] rex706 commented on #27
@a6d6061ed1 The latest release should address the issue with parsing the config file incorrectly, so give it another try and let me know if it works better for resolving your account info.

[2019-03-29 18:21] Kritior opened #31 "SAM crashes after changing the automatic login settings."
After having changed the Auto-Login settings SAM stops responding and crashes when reopening the program. This is fixed by deleting the SAM config file.

[2019-04-05 09:18] marius137 opened #32 "Account Generator"
Is it possible to integrate an account generator in the manager? maybe a dropdown menu with Extras>Generate account

If you don't want to make the generator yourself, you can maybe integrate the API of [https://accgen.cathook.club/](url)

[2019-04-06 22:23] rex706 commented on #32
Interesting suggestion 🤔

[2019-04-13 23:07] Asmund11 opened #33 "Still doesn't work with non-Steam language"
Did you checked it? I see "Additional Language support" in changelog, but it still doesn't work for me.

[2019-04-14 13:43] rex706 commented on #33
@Asmund11 Turns out other languages like Russian use an (em dash)[https://en.wikipedia.org/wiki/Dash] instead of a normal hyphen/dash. I should have tested this more thoroughly. Fixed for the next release!

[2019-04-19 22:35] #33 closed

[2019-04-19 22:35] rex706 commented on #31
@Kritior let me know if this issue still persists in the latest version. Thanks.

[2019-04-19 22:35] #31 closed

[2019-04-19 22:35] #29 closed

[2019-04-22 05:12] LynxKik opened #34 "Decrypted password"
Add a way to export decrypted password.

[2019-04-22 13:04] rex706 commented on #34
Oops you're right. I forgot about exporting with data encryption enabled.

[2019-04-22 13:56] LynxKik commented on #34
No no, i mean't add an option to export plain text password so we can log into via our browser, I use password gen so I forget my passwords.

[2019-04-22 14:18] rex706 commented on #34
@LynxKik oh you mean the Steam account passwords themselves. A copy password item in right click context menu should be fine for this, but I feel weird about exposing that. Then again if the application password protection is enabled it really shouldn't be an issue.

I'll see what I can do.

[2019-04-22 18:13] Asmund11 opened #35 "Steam log out"
Look. I use your program to log in. After closing Steam, if i open it again manually, i must to enter password. It's very uncomfortable. Can you make changes? I don't want enter password again and again, when i'm logging in the same account.

[2019-04-23 01:27] LynxKik commented on #34
I don't think encryption makes that much of a difference, Since it's being locally hosted on your local device, It would make sense if it were hosted on a server but than again the encryption would be easy to break since it isn't an one way hash, Can you explain me the idea behind local encryption?

[2019-04-23 13:31] rex706 commented on #34
If you use the new password protection feature that some users requested, you can supply your own password to use as a key to hash the entire info.dat file, which could then only be decrypted using the chosen password. While it's not a perfect system, it should be good enough for people with security concerns. You can enable this in the settings window.

Regardless, I went ahead and implemented th

[2019-04-23 14:11] rex706 commented on #35
This is a problem that comes from SAM using the [built in Steam login parameters](https://support.steampowered.com/kb_article.php?ref=5623-QOSV-5250). Using this method of logging in will unfortunately prevent Steam from being able to utilize the 'Remember' checkbox, which will then make you enter your password in again on the next manual open like you describe. I have even tried manipulating the

[2019-04-23 19:48] rex706 commented on #32
I requested an API key for the service you provided, and they reached out letting me know that the only way this could work without everyone abusing the single key they gave me, since it's limited to a certain amount of accounts per day and per hour, is to allow users to request a key themselves and have an input field it. Since I have no idea what it would take to create a generator myself, I thi

[2019-05-01 20:32] marius137 opened #36 "Support for username:password accounts"
When you buy accounts they often get sent in a username:password format, can you add support so there is a textbox where you just paste that string and everything gets extracted from that

[2019-05-01 21:04] a6d6061ed1 commented on #32
I wouldn't recommend using this service. They have all account data that one 'generates' (its not actually generated but you just get pre-generated credentials) and they can possibly recover those accounts.
I would strongly advise making your own generator in c#. Biggest problem is captcha solving you could add either some kind of ocr or use human worker service. This might be useful reference: ht

[2019-05-01 21:09] a6d6061ed1 commented on #36
I think it could be useful to add a function that'd make http requests to steam and validate credentials and on the way it could retrieve steamid and such so you no longer would have to login first in order for steamid to be found.

[2019-05-02 01:19] veaxl commented on #36
please make a program that simulates a banana being put into a stock photo to verify users.

[2019-05-02 01:20] Roger42069 commented on #36
Listen bub! You stock photo image fuck, I know your an Indian terrorist

[2019-05-02 01:20] Roger42069 commented on #36
Ill give you 4 hours to delete the comment before im exposing ur ip!

[2019-05-02 01:20] Roger42069 commented on #36
Im super serial!!!!

[2019-05-02 01:21] veaxl commented on #36
it is an autoclicking indian buff account, destroy it

[2019-05-02 01:22] Roger42069 commented on #36
Its probably a thot bot infiltrating github smh

[2019-05-02 13:23] marius137 commented on #36
@Roger42069 still waiting for you to expose the IP

[2019-05-10 22:11] marius137 opened #37 "ability to add a countdown to an account"
Can you add a feature where you can set a timeout for an account for when you get a temp ban

[2019-05-11 13:50] BenCat07 commented on #32
Hello, maintainer of accgen.cathook.club here. Yes we do store the data after usage, but that is mostly For recovering accounts for users, not to use your accounts for ourselves. It's your choice whether to believe us ( @a6d6061ed1 ). additionally steam got fed up with our generation and replaced their very easy captcha with a google captcha v2:

By the way the service you mentioned above is also

[2019-05-11 15:33] Ashesh3 commented on #32
Hello, we do store accounts on the server, and to be honest we currently don't delete the account if you take it, but rest be assured your "temporary, throw and use, csgo account with no account value and no gametime, meant to be used to rage hack after a ban" account is safe. We don't access any accounts personally, and you are free to change the password for any account you obtain (add a phone n

[2019-05-11 19:29] BenCat07 opened #38 "Linix version?"
This application looks awesome and useful for me, Issue is: i use linux and steam Works differently there, you launch the executable using "steam -login $LOGIN $PASSWORD" where stesm is located in `/usr/bin/lib`, Another issue is this being written in C# which is basically windows Only, but i would still love a version for Linux nontheless, lf you do not feel like porting it  i can try my luck and

[2019-05-12 17:02] a6d6061ed1 commented on #32
I appreciate your response although I still think there's no need to use third party online service for something that can be done entirely in C#. I assume your service has high uptime but it still might go down someday and then account generator embedded in SAM will stop working. As much as I'd like to belive your claims, there's no way this can be verified.

By the way that client side account c

[2019-05-12 17:26] Ashesh3 commented on #32
Yep, the only reason why someone would use the online service is,
1. Convenience,  can be loaded up instantly, makes accounts in a second (c# will takes ~20-30 secs) , this is because our accounts are pre generated hence using the online service makes it instant and convenient to get account.
2. Since the Web gen is.. well.. on the web, it can be used on any device which supports a web browser.. o

[2019-05-13 00:31] Darthagnon commented on #37
might also be useful on normal, unbanned accounts - a countdown until you have to enter your password again, since Steam signs you out completely after a certain period.

[2019-06-03 09:01] ColinTheShark opened #39 "Decrypted Passwords on Encrypted Manager"
Somewhat related to #34.

My idea/request was to have the option to display all passwords in clear text when SAM itself is password protected.

Due to accounts from [cathook](https://accgen.cathook.club) being suspended by Steam, we need the Username **and** Password to [get the email back](https://accgen.cathook.club/recovery.html).

[2019-06-04 17:36] rex706 commented on #39
@ColinTheShark I will think about this. It feels weird exposing that all at once, but since I'm going ahead with #34 anyway I guess it will be fine.

[2019-06-04 17:41] rex706 commented on #38
@BenCat07 Sorry for the late reply.

I've thought about this a bit as someone else has asked me about it before as well. The main issue is pretty much what you said: it's written in C#. I would most likely have to rewrite the entire application in a more cross-platform friendly language like Java. I don't have a problem with Java, but it will probably just take a good chunk of time to get done.

H

[2019-06-04 17:48] rex706 commented on #37
@marius137 This is actually an interesting idea.

@Darthagnon the only thing is the account time-out period seems sporadic for me. I can't find any information on exactly how long this time is. Do you mean when you've entered a password incorrectly too many times?

[2019-06-04 17:50] rex706 commented on #36
@marius137 do you get these in bulk? Like separated by commas for example? If not, it's hard for me to justify doing this if it's only saving you a single copy/paste action.

[2019-06-04 18:27] marius137 commented on #36
I get them in bulk, one line per account

User:pw
User:pw

And so on...

[2019-06-04 19:15] rex706 commented on #36
@marius137 Understood, I will consider adding this.

[2019-06-28 11:04] pontifezo commented on #36
Also please add accounts import option with a shared secret

user1:password1:sharedsecret1
user2:password2:sharedsecret2

and so on...

[2019-07-05 17:48] Fizzelo opened #40 "Will this work with a portable copy of Steam?"

[2019-07-05 18:09] rex706 commented on #40
Yes you can set the Steam path in the settings through the edit menu at the top if SAM can't find it itself. You should also be prompted on first use if a valid Steam path can't be found automatically.

[2019-07-05 18:09] #40 closed

[2019-07-05 19:04] #34 closed

[2019-07-05 19:04] #37 closed

[2019-07-05 19:04] #39 closed

[2019-07-08 18:59] marius137 commented on #36
I just tried out the new bulk import and it always crashes when I klick on import. The problem is that the manager expects user:PW:secret, but I only get my accounts without the secret.

A dirty workaround is to just add :1 to the account:pw line

[2019-07-08 19:04] rex706 commented on #36
@marius137 Interesting. Thought I made a check for that. Will update it when I get home today!

[2019-07-08 21:36] #36 closed

[2019-07-09 01:16] 0450 opened #41 "Password not supporting some special characters."
Most of my passwords with special characters always fails when trying to log in with SAM but its fine when i enter it manually. The passwords consists of !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

[2019-07-09 02:18] rex706 commented on #41
@0450 It is most likely the '-' character that causes the problem. Since SAM uses the  [built in Steam login parameters](https://support.steampowered.com/kb_article.php?ref=5623-QOSV-5250) to do the initial logging in, it probably interprets everything after that character as a launch parameter. Now that I have some more free time I am looking further into #35, which likely relates to this issue a

[2019-07-09 07:34] Nou4r opened #42 "Userdata Folder"
Hey, it would be awesome to have a feature that we can toogle that delets the userdata folder in the steam path.

[2019-07-09 13:57] rex706 commented on #42
@Nou4r When you say toggle, do you mean it would delete the userdata folder regularly? Or just a button that can clear it manually? Is there a preferred frequency to clear that folder? Like after every login?

[2019-07-10 05:04] pontifezo opened #43 "Remember window position after restart"
Please add an option to remember window position after restart. Each time after program launched, its top left corner is centered at screen and I have to drag it around for better view.

Also maybe a possibility to set custom size for accounts' buttons wiil be useful.

Thanks.

[2019-07-12 14:19] Nou4r commented on #42
LIke delete it after each successfull logon, as much as possible basically

[2019-07-12 18:30] Nou4r opened #45 "Disable Steam Ads"
So everytime i login steam with the SAM that options resets and i see the annoying pop up everytime, it would be awesome if you managed to make it default / force it somehow.
https://i.imgur.com/vOVPcpm.png

[2019-07-12 21:22] rex706 commented on #45
@Nou4r this might also relate to #35, which I'm now looking into.

[2019-07-13 20:49] rex706 commented on #35
**Update:** I finally figured out that Steam creates a reg key entry in `Computer\HKEY_CURRENT_USER\Software\Valve\Steam` called `AutoLoginUser`, which must be cleared to a blank value to guarantee the username field is empty when starting Steam. Deleting this key entirely prompts the user for an option to create a new account or sign into an existing one, which isn't what we want so blanking out

[2019-07-16 00:36] #26 closed

[2019-07-16 00:36] #27 closed

[2019-07-16 00:36] #42 closed

[2019-07-16 00:36] #45 closed

[2019-07-16 06:20] KyeNormanGill opened #46 "Keypress is alot more dangerous than parameters"
After updating to 1.3.0 I accidentally alt-tabbed during login, and it keypressed my password into my friends DMs and sent it rofl. I think launch params would be a lot better in my opinion. Maybe make it optional? to choose between launch params and keypresses.

Either that or make sure the steam login UI is in focus, if not wait until it is next, to paste in that.

[2019-07-16 10:05] marius137 opened #47 "No longer working."
After I  updated to the latest version I can select accounts, Steam will open, but i will not be logged in

[2019-07-16 10:07] marius137 commented on #47
a downgrade to 1.2.6.2 fixes this

[2019-07-16 11:52] rex706 commented on #46
It actually does focus the window for every keypress, especially the password. But I will make using parameters an option and push an update out later today.

[2019-07-16 11:53] rex706 commented on #47
They running as admin. But I will make an option to continue using login parameters and push an update later today.

[2019-07-16 11:56] marius137 commented on #47
Running as admin does not work.

[2019-07-16 14:22] Asmund11 opened #48 "Russian language"
Not working :(

[2019-07-16 14:34] rex706 commented on #48
I'm aware that there are unfortunately a lot of issues with this latest version and will get an update out as soon as possible when I'm back from work.

[2019-07-16 15:02] iebb commented on #46
Another scenario:
When using IMEs (for Chinese/Japanese/Korean inputs), the tab key are often captured by IME (like next page of candidate words), resulting plain-text password displaying in username box. That's pretty dangerous when someone could see your screen.

[2019-07-16 15:28] rex706 commented on #46
Understood. I will default to logging in with parameters like it used to and push an update when I can after work. I think I can still enable remembering password functionality by setting the reg key value to 1 programmatically.

Apologies for jumping the gun on this one everyone.

[2019-07-16 21:48] #46 closed

[2019-07-16 21:48] #47 closed

[2019-07-16 21:48] #48 closed

[2019-07-16 21:49] rex706 commented on #35
Reopened this issue as I am not currently 100% certain whether or not the password can be remembered by Steam using the `-login` parameter.

[2019-07-16 21:50] rex706 commented on #41
Reopened this issue as some special characters like the hyphen `-` will not be usable in passwords currently with the `-login` parameter enabled.

[2019-07-17 06:21] pontifezo opened #49 "Accounts buttons text color"
I'm using Windows dark theme and the text on accounts buttons is hardly distinguishable.

https://i.imgur.com/YNuwyjU.jpg

Will be good to have a possibility for choosing custom font color (and maybe a size) for the text on accounts buttons. It's more handy for me not to use profiles avatar pictures.

p.s. also please add an option for hiding "**+**" button (it is no longer necessary when you are

[2019-07-17 16:13] Nou4r opened #50 "Clear userdata broke"
Since the last update this feature no longer works

[2019-07-17 16:27] rex706 commented on #50
You're right. I know exactly where it is going wrong since restoring the login by parameter functionality. I will have this fixed with an update out later today.

[2019-07-17 17:06] #50 closed

[2019-07-18 09:22] marius137 opened #51 "Layout error when using countdown"
When using a Countdown on an account, the countdown and account name overlap
[Screenshot](http://prntscr.com/ogp7rl)

[2019-07-18 23:49] KyeNormanGill opened #52 "Window not showing"
Not sure why but after upgrading from 13.01 to 13.03 my window won't come in to focus. I tried deleting the current sam.exe and getting the latest from releases. But it does the same thing.

It sits in my taskbar and bottom panel like any other program but it won't actually pop up when I click on it. The only way I can use it currently is right-clicking the icon on the bottom tray and selecting an

[2019-07-19 00:23] rex706 commented on #52
Maybe the saved window location is something weird? You can try deleting the two window location values in the SAMSettings.ini file.

[2019-07-19 05:50] KyeNormanGill commented on #52
Ahh yes it was set to
[code]
Reset it to 0, which fixed it.

[2019-07-19 05:50] #52 closed

[2019-07-23 20:58] rex706 commented on #41
Update: Looks like [this](https://stackoverflow.com/questions/10296162/escaping-special-characters-in-cmd) works in the limited tests I have run so far. Appending quotes around the password still logs in successfully through the -login argument. I may need to handle a few special cases with certain characters like quotes and percents as mentioned in the link but that shouldn't be too bad.

[2019-07-25 09:27] LL1r1k opened #53 "Dsable auto-update"
How I can disable auto-update when the program is loading.

[2019-07-25 13:08] rex706 commented on #53
@LL1r1k Is there a specific reason you don't want to use the latest version?

[2019-07-25 13:32] LL1r1k commented on #53
I have a problem with the latest update. Steam don't enter after its opening. Like in #47 issue.

[2019-07-25 14:47] rex706 commented on #53
@LL1r1k are you using the -login parameter setting and running SAM as admin?

[2019-07-25 14:51] LL1r1k commented on #53
Yes. I tried to run as admini, the same

[2019-07-25 15:06] rex706 commented on #53
@LL1r1k is the '-login' parameter setting enabled under Parameters?

[2019-07-25 15:16] LL1r1k commented on #53
Yest the -login parameter setting enabled. But on old version all file.

[2019-07-25 15:17] LL1r1k commented on #53
The main question, can i disable auto update?

[2019-07-25 15:28] rex706 commented on #53
@LL1r1k  Not natively in the application no. I will add it as a setting in the latest version, but that won't solve your problem as you will have to be on the latest version to disable it. You *could* try making a firewall rule or edit to your hosts file to prevent calls to https://raw.githubusercontent.com/rex706/SAM/master/latest.txt and https://textuploader.com/58mva/raw since you prefer to use

[2019-07-26 05:34] Nou4r opened #54 "Alt tab section"
Hey, awesome work on the tool, really love it.
Could you please make the tool hide itself from the alt tab section aswell?
https://i.imgur.com/vBq31ie.jpg

Truly minimize to tray basically.

[2019-07-29 17:58] rex706 commented on #41
Update 2: As far as I can tell, after surrounding the password with quotes `"` and escaping quotes in the password with a backslash '\' instead of additional quotes as the linked article in my previous update suggested, all other special characters seem to work fine using !"#$%&'()*+,-./:;<=>?@[]^_`{|}~ as a test password on a random test account.

Should hopefully be able to release a new version

[2019-07-31 23:44] MattiasMoenster2019 opened #55 "Remove Password"
The startup password can simply be removed

You just go to the "SAMSettings" and find "PasswordProtect" make it = false and gg no password

[2019-08-01 00:10] rex706 commented on #55
But does it still work? If you do that, the file is still encrypted and therefore will fail loading the accounts, right? The application crashes for me in this case. I could have it prompt for a warning or something instead as that probably makes more sense.

[2019-08-01 11:06] MattiasMoenster2019 commented on #55
Hmm that weird... It did work for me, I just poked around a little trying to find the saved passwords and usernames in file cause when i open the SAM it automatically just minimizes it so i can only change accounts with it by using the icon in the minimized icons tab. Anyway iam getting a little off track xD. So it DID work but its rather glitchy afterwords but is still usable Sorry for my bad eng

[2019-08-01 12:12] MattiasMoenster2019 commented on #55
here https://youtu.be/9CTCkKQirSQ forgot to sync the audio so it got deleted xD

[2019-08-01 13:05] rex706 commented on #55
Interesting. I very much appreciate your example video!

For reference, if you actually had accounts loaded in the application it would not work.

Also, you can drag the background of the SAM window to move it since I know that when it is small like that it is difficult to grab the top of the window.

[2019-08-08 17:32] ColinTheShark opened #56 "Wrong Password on import"
When importing Accounts with the "Delimiter Seperated" function, the accounts get a wrong password.

Using this:
[code]
the saved passwords gain an additional and unwanted linebreak at their end, effectively invalidating the password.

[2019-08-10 07:37] rex706 commented on #56
Interesting. I will take a look into this and try my best to get an update out tomorrow if possible. It should be a simple fix of just removing those characters or blank spaces as I don't think they are allowed in passwords anyway.

[2019-08-10 20:33] lzrdblzzrd opened #57 "The program does not enter SG code."
Recently, I used SAM and everything was fine, he entered the code correctly every time. After reinstalling the windows, I ran the same program from the same folder, since I did not format the disk on which it lay, and now it does not enter the Steam Guard code. He just ignores the field. I already exported the accounts and imported into a new downloaded program (maybe there was some kind of error

[2019-08-10 20:49] rex706 commented on #57
@lzrdblzzrd Someone else was experiencing a similar issue, but you can try running SAM as Administrator, or possibly updating your [.NET Framework](https://dotnet.microsoft.com/download).

Please let me know if this helps!

[2019-08-10 21:14] lzrdblzzrd commented on #57
@rex706 Updating the NET Framework and running as administrator did not help, it also ignores the code field.

[2019-08-10 21:38] rex706 commented on #57
@lzrdblzzrd Maybe it is a language issue, do you run Steam in English? and if not, could you please try? If that is indeed the problem I will try to change the way SAM looks for the Steam Guard window itself to be more universal.

[2019-08-10 22:03] lzrdblzzrd commented on #57
@rex706 Well, that worked. I changed the language from Russian to English and he entered the code. Of course, I don’t complain about the language, because I used English Steam before reinstalling Windows and just forgot to change the language, but it seems to me many people would be more comfortable using the language they want.

Thanks!

[2019-08-10 22:03] #57 closed

[2019-08-10 22:05] rex706 commented on #57
@lzrdblzzrd I completely understand and will take some additional time testing different languages before the next release. Steam could have possibly changed the window name in some cases, but I may be able to detect the 'child' Steam windows without having to know the name.

Thank you very much for helping me troubleshoot the actual problem so I can get it fixed!

[2019-08-11 22:35] #41 closed

[2019-08-11 22:35] #49 closed

[2019-08-11 22:35] #51 closed

[2019-08-11 22:35] #53 closed

[2019-08-11 22:35] #54 closed

[2019-08-11 22:35] #56 closed

[2019-08-11 22:42] rex706 commented on #57
@lzrdblzzrd the new version should address this issue and should now work again with languages other than English 😃

[2019-08-11 22:52] rex706 commented on #53
@LL1r1k another user had a similar issue and I found it was caused by the Steam Login window not being detected properly in other languages. Do you run Steam in a language other than English? The new version should resolve your issue in this case.

[2019-08-24 11:37] Validol4ik opened #58 "Password protection doesn't work"
I just downloaded your app, set password, added an account, and was asked to enter my password.

So I entered my password, but the app just rejected it (I'm sure it was the same password, I did it all over again 3 times with the same result).

So at some point, I restarted the app and clicked OK without entering the password, clicked NO when I had been asked if I was sure, clicked OK without enter

[2019-08-24 15:39] rex706 commented on #58
So I found the cause for this issue. Turns out SAM was not properly serializing the accounts with your provided password when new accounts were added. I just pushed a commit with the fix and should have a new version out shortly. Thanks for pointing this out and being very descriptive!

[2019-08-24 15:45] #58 closed

[2019-08-26 21:40] marius137 opened #59 "Setting timeout on an Account that already has a timeout crashes"
Expected Behavior: Updating the timeout
Actual Behavior: SAM Crashes
How to reproduce: Set a timeout on an account, then set a timeout on the same account again.
Workaround: Clear the timeout, then set a new one

[2019-08-28 09:08] marius137 commented on #59
Weird, I tried it again and it didn't crash, I tried it out multiple times yesterday and crashed every time.

[2019-08-28 09:08] #59 closed

[2019-08-28 17:11] a6d6061ed1 commented on #32
since this is still open I'd like to point out that incident with cathook account generator occured and a lot of accounts generated via their site were suspended by valve and it wasnt possible to login to them. naturally that's a risk that comes with using public account generator such as this one

[2019-09-04 06:28] ZOODEN opened #60 "weird updater bug"
//

[2019-09-04 06:32] #60 closed

[2019-09-04 18:18] wazerstar opened #61 "later version than 1.3.0.3 Hotfix does not work at all without using -login."
using no parameters and just using save password will not activate steam window anymore and open random search/program fields instead, wondering

[2019-09-10 23:33] Bulb4 opened #62 "gui problems"
Here is how setting window looks like on windows 7 with classic theme. I cant see some checkboxes.

![image](https://user-images.githubusercontent.com/29643460/64657438-0a73d380-d43c-11e9-8892-718522b778f1.png)

I fixed it via visual studio xaml redactor, but i hope you will add it in next updates.

[2019-09-11 14:52] SoyRA opened #63 "Add custom parameters"
Have the option to write our custom parameters, even if they already exist to select.
For example, in an account I've this (Batch):
[code]

But at SAM, I can only have something like:
[code]

My idea would be to have something like this, instead of adding more "buttons".
![SAM-Example.png](https://i.imgur.com/M1AHgPf.png)

[2019-09-13 12:37] Suphax opened #64 "Unable to check 'remember me'"
I'm not sure if this is because I am using a [skin](https://metroforsteam.com/), but SAM doesn't check 'remember me' even if the setting is turned on.

![Settings Page](https://i.suphax.dev/Fuw2c.png)

Let me know if I can give any more info.

[2019-09-13 12:39] Suphax commented on #64
Nevermind I thought I checked all the closed/open issues but just saw #63.

[2019-09-13 12:39] #64 closed

[2019-09-13 14:41] rex706 commented on #64
@Suphax there is actually an issue with using the `Remember Me` functionality while also using the `-login` parameter #35. Steam does not let you check the box or use the reg key entry to force it on. I've even found and forced the bit that controls the checkbox in memory for the Steam login window to be checked with no effect. The downside of not using the '-login' parameter is that SAM will then

[2019-09-16 22:09] #62 closed

[2019-09-16 22:09] #63 closed

[2019-09-16 22:49] wazerstar commented on #61
not working good, fails a lot now.

[2019-09-17 21:20] rex706 commented on #61
@wazerstar could you please be more specific?

[2019-09-17 21:23] wazerstar commented on #61
@rex706 forgot to get back to you, it it still has issues focusing and when it finally gets focus it types password in username and put a asterisk star in password, fails, then it reboots steam to try again and then it just stalls there. I tested with various accounts and did also test after 2 reboots.

[2019-09-21 16:26] rex706 commented on #61
Sounds like SAM isn't waiting long enough for the Steam Login window to initialize fully in some cases. I'll see what I can do about this.

[2019-09-23 19:47] wazerstar commented on #61
@rex706 Version 1.3.0.3 Hotfix worked 100% wonderfull all the time, before you introduced different chars.

[2019-09-23 20:03] rex706 commented on #61
@wazerstar fair enough, I will take a close look at what exactly changed from that version. I've been busy but should have some time a little later today to take a look and potentially fix.

[2019-09-24 12:02] Spooonky opened #65 "Button for Icon and List mode"
Hey,
It would be very helpful if you could put a button that displays the accounts like an Excle table, so you can switch between the button and the list. It would be clearer if you have more accounts.

[2019-09-25 02:35] #61 closed

[2019-09-25 02:51] wazerstar commented on #61
@rex706 Works much better again, tho I had it just sitting there "only once" with needing to enter username/password without it closing steam and trying again, tested on 8 accounts.

[2019-10-10 23:03] rex706 opened #66 "Close SAM after successful login option"
Make a toggle option to close SAM after a login was successful.

[2019-10-16 23:22] oleg1357 opened #67 "Not reacting to Steam 2fa window"
The program just stuck at this moment. I got Windows Server 2016, am I missing any dependencies?
![2019-10-17_02-22-13](https://user-images.githubusercontent.com/44361815/66966174-fcd9eb00-f084-11e9-9c62-305e5779d53f.png) BTW works perfectly on win10.

[2019-10-16 23:35] rex706 commented on #67
@oleg1357 try running as admin or installing the latest [.NET framework](https://dotnet.microsoft.com/download)

[2019-10-17 09:16] oleg1357 commented on #67
Unfortunately, it doesn't work for me.

[2019-10-17 13:02] rex706 commented on #67
@oleg1357 is the shared secret for that account entered correctly?

Now that I think about it I probably need to add a prompt to warn users when there is no shared secret entered for an account that needs one.

I have never tried running the application on windows server 2016 but can try setting up a testing environment later if need be.

[2019-10-17 20:35] oleg1357 commented on #67
Yes, the secret is correct, I have tried the same .dat file on my home PC, Don`t know if testing is needed on OS like this, not a big deal. What im really thinking of right now is running multiple instances of Steam through SAM, but Sandboxie not working directly with your app.

[2019-10-22 14:03] Nou4r opened #68 "Can't save settings?"
https://streamable.com/u91x0
It does't let me select the "radio box"

[2019-10-23 08:52] ColinTheShark opened #69 "Suggestions: Ban Check, Drop-Down Timeout"
Hey, had a couple ideas to enhance the Account Manager.

1) Add an input field for a [Steam API Key](https://steamcommunity.com/dev/registerkey) which would then check all accounts for a Game Ban and mark the accounts. A single API request can check up to 100 accounts at a time and requires only the ID64 though a full URL works, too.

2) A dropdown menu for the most common cooldowns you can have i

[2019-10-23 13:40] rex706 commented on #68
After checking, the auto log check boxes do not seem to be working like you show, but everything else works for me still. Strange. I will look into the auto log check boxes for now.

[2019-10-23 13:51] rex706 commented on #69
Having an input field for the user to input their on API key is a great idea as I'm sure the one that has been hard coded from a long time ago is most likely over used.

By 'Game Ban', do you mean VAC? Or does the API have awareness of other kinds of bans as well? I'll take a look into the documentation for this to see what options there are. Good to know the request can take up to 100 accounts at

[2019-10-23 15:54] ColinTheShark commented on #69
When [querying for GetPlayerBans](https://developer.valvesoftware.com/wiki/Steam_Web_API#GetPlayerBans_.28v1.29) the API returns both NumberOfVacBans and NumberOfGameBans. The latter is interesting for CS:GO Overwatch bans 👀

Those spin boxes are a pain in the ass, which makes me use them literally never. It's annoying to have to set the times individually. A drop down for the most common would be

[2019-10-23 20:02] Nou4r commented on #69
This would be super awesome.

[2019-11-05 12:29] lolanonymous opened #70 "Option to import from text without a shared secret"
Accounts I've generated from a popular account generator site do not come with a third separator in them, not allowing me to import them.

[2019-11-05 16:32] lolanonymous commented on #70
I found how to reproduce, turns out it doesn't like the cursor one line below the accounts as shown. Otherwise it works fine.
https://i.imgur.com/74VTcSL.png

[2019-11-05 17:12] rex706 commented on #70
Nice find. Should be an easy fix

[2019-11-07 21:07] rex706 commented on #67
@oleg1357 After a little bit of digging, depending on what version of Sandboxie you have (I've never used this VM before) there is a setting somewhere to allow programs running inside it to simulate keyboard inputs, which may be not allowed by default. See the Hardware Access section at the bottom (although it says it has been removed in newer versions so the setting might be elsewhere if it still

[2019-11-10 09:49] ColinTheShark commented on #69
Will there be an ETA for a new update?

[2019-11-10 14:43] rex706 commented on #69
I'm almost finished with #65. I think the last bit I'm missing is deleting selected accounts while in this view mode, which I'll work on today. I'll likely push out an update after that.

I forgot to include the issue in the commit so it would display in this thread, but I included the quick timeout options (including 21 hours) as well.

[2019-11-11 20:41] rex706 commented on #55
Currently, I don't see a reasonable way to prevent bypassing the password **if there are no accounts loaded into SAM** without saving extra files or keys to the file system somewhere. Since this is otherwise not a problem if accounts are present, I am closing this issue.

[2019-11-11 20:41] #55 closed

[2019-11-12 19:41] #65 closed

[2019-11-12 19:41] #66 closed

[2019-11-12 19:41] #69 closed

[2019-11-12 19:41] #70 closed

[2019-11-12 19:42] rex706 commented on #68
Please try the latest version. If you still have issues, your SAMSettings.ini file may be corrupt and in that case you may have to delete it and restart SAM so it generates a fresh one.

[2019-11-13 15:13] alprutxd opened #71 "Nice little detail"
Add Description to list menu, it could be cool :P

![321321321321](https://user-images.githubusercontent.com/42916890/68776534-881cb100-0630-11ea-9613-8275991b3d0b.PNG)

[2019-11-13 16:53] ColinTheShark commented on #43
Well this just became relevant again.

After the [latest release](https://github.com/rex706/SAM/releases/tag/v1.4.0.0) SAM always starts with the top left corner in the middle of the screen.

[2019-11-13 16:58] ColinTheShark opened #72 "Window Position & Minimize to Tray"
As [I've mentioned](https://github.com/rex706/SAM/issues/43#issuecomment-553491527) in issue #43 , the window opens with the top left corner in the center of the screen.

In addition to that, the "Minimize to Tray" option doesn't do anything. Clicking on minimize "_" just minimized normally to the task bar, and hitting close "x" closes SAM completely. The latter becomes extra annoying with the win

[2019-11-13 20:34] #43 closed

[2019-11-13 20:34] #71 closed

[2019-11-13 20:34] #72 closed

[2019-11-13 21:00] #68 closed

[2019-11-13 22:13] ColinTheShark opened #73 "SAM not showing bans"
Since you've updated SAM to include a ban check for accounts (#69), I have now noticed, that the bans aren't being shown in the app.

I have accounts that I know are banned, but even after updating to the `1.4.0.0` update, those haven't been updated to show the ban status, even though I passed my Steam API Key to the correct field in the settings.

(On a minor side-note: The list view can't be scr

[2019-11-14 15:40] rex706 commented on #73
Have you tried signing into the account at least once before loading the web data? There doesn't seem to be an API call that allows you to query _for_ a user's steamId, and the only way I can reliably get that information currently is from parsing the Steam config.vdf file, which stores user info like the steamId for each account successfully signed into Steam. Is your issue with VAC Bans, Game Ba

[2019-11-14 17:43] ColinTheShark commented on #73
No, actually not. But I really can't be bothered to log into 100+ accounts just to check if they're banned xD

Oh, if only you knew...

The [API Endpoint](https://github.com/rex706/SAM/issues/69#issuecomment-545512504) I referred to in Issue 69 (hehe) accepts a comma delimited list of Steam `ID64` both in the full URL (`/profiles/123`) and just the ID64 itself. You could use some regex magic to fi

[2019-11-16 03:00] ZEROx45 commented on #73
ok how to fix it now? cause im still not receiving any data o:

i have 3 gamebanned accounts?!

[2019-11-17 00:36] ColinTheShark commented on #73
Until there is a new Release you could try downloading the repository and building the Application yourself. I for my part will wait for a new Release.

[2019-11-18 23:57] #73 closed

[2019-11-20 08:55] alprutxd opened #74 "Auto start games"
Make so you can auto start games

[2019-11-20 16:30] rex706 commented on #74
You can add the [-applaunch](https://developer.valvesoftware.com/wiki/Command_Line_Options#Steam_.28Windows.29) parameter with the id of the game you want to auto start to the custom parameter text box under 'Parameters' in the settings window. Is this good enough for what you want to do?

[2019-11-22 20:44] alprutxd commented on #74
All good bro

[2019-11-22 20:44] #74 closed

[2019-11-30 21:09] alprutxd opened #75 "avast sandbox"
Can I open steam in sandbox with this (I use avast)

[2019-12-01 02:38] InternalxHD opened #76 "Incorrect password bug"
I keep getting incorrect master password wrong whenever i try add an account, i can login fine but when i try to add a steam account and finish it, it just spams popping up incorrect password

[2019-12-01 16:59] rex706 commented on #75
What happens if you try?

[2019-12-01 23:22] rex706 commented on #76
[Latest release](https://github.com/rex706/SAM/releases) should resolve this issue.

[2019-12-01 23:22] #76 closed

[2019-12-02 07:32] alprutxd commented on #75
It just freezes (Also running steam in windows 7)
![billede](https://user-images.githubusercontent.com/42916890/69938715-4750e300-14de-11ea-93a7-16ffd9526c62.png)

[2019-12-02 08:01] Acecool opened #77 "Password bug still exists"
I tried SAM for the first time today, and when it asked me if I wanted to 'secure' SAM with a password, I chose yes. As is customary for new apps, I first use a throw-away password... Lets call it '123'.

I entered 123 as my password, and I clicked ok. SAM launched after I entered it a second time. I then went through the settings and adjusted them.

Afterwards, it asked me for my password. I ente

[2019-12-02 14:19] rex706 commented on #77
This appears to be a bug when using SAM _without_ any accounts added to the application.

The PasswordProtect boolean value is only an initial check to let the program easily know password protection is enabled. When enabled, the entire info.dat file is encrypted when accounts are serialized and saved using the password provided. If you were to go into the SAMSettings.ini and change PasswordProtec

[2019-12-02 14:23] rex706 commented on #75
What freezes? The whole application? Entering the Steam Guard code? The more information you can provide me the better.

Also, since you are running in a VM, you may be experiencing a similar issue to #67.

You could try installing the latest [.NET framework](https://dotnet.microsoft.com/download) and see if that helps.

[2019-12-02 16:56] rex706 commented on #77
Please try the [latest release](https://github.com/rex706/SAM/releases) (or run SAM and it should prompt you to let it update itself) and let me know if you still experience issues.

[2019-12-02 17:37] Acecool commented on #77
Appears to be resolved... I am going to post a new bug report though... The settings file isn't read for the initial enter your password dialog. ie: I set the skin to default light, blue highlights. It is dark when that shows up.

Password dialog works, gives error when wrong, etc..

Info.dat looks correct.

[2019-12-02 17:48] #77 closed

[2019-12-03 13:27] alprutxd commented on #75
he whole application, my steam does not even open, and non of the accounts i am using is using steam guard, so I dont have to enter any form of code.

when steam is closed i can open one, but the next one I open needs username and password

[2019-12-03 13:28] alprutxd commented on #75
And the whole application freezes, when I open my second steam window

[2019-12-03 14:56] rex706 commented on #75
After digging a little through the Avast Sandbox documentation as I have no plans to actually download Avast, it appears that ["a list of common system locations is Blocked by default"](https://help.avast.com/en/av_free/17/settings_sandbox_params.html) for programs running in the Sandbox under the **Privacy** section. In order for SAM to _open_ Steam, it needs access to the location where Steam is

[2019-12-03 15:32] alprutxd commented on #75
SAM still seems to freeze after i have added it to allowed, I can fine open one steam window, but when I try to open the secondSAM freezes and steam needs Username and password

[2019-12-03 15:41] alprutxd commented on #75
I can also only add .exe filles, cant add a locations

[2019-12-03 15:42] alprutxd commented on #75
And I don't run SAM in sandbox, I run SAM normal

[2019-12-03 15:52] rex706 commented on #75
Can you explain to me what you are trying to accomplish exactly? From what I understand, SAM works fine for the first account, but freezes the second time? Or are you trying to open multiple instances of the Steam client? If you're not running SAM in Sandbox, then what are you using Sandbox for?

[2019-12-03 15:56] alprutxd commented on #75
I'm trying to to run more steam instances

[2019-12-03 16:49] rex706 commented on #75
Ok I think I understand. You are using Avast Sandbox to open Steam so you can have multiple client instances open at once since Steam does not support this capability natively.

In this case SAM may be hanging while waiting for the previous Steam process to exit because of Sandbox, since part of SAM's logic is to send the -shutdown parameter to the existing open Steam process (if one is found) to

[2019-12-03 17:52] alprutxd commented on #75
Okay thanks, I can easly open more steam instances without SAM, but I dont want to type every username and password myself, so it's SAM thats doing something :D But I hope you can help me :)

[2019-12-03 17:53] alprutxd commented on #75
And yeah its properly that -shutdown, because when I close the steam in sandbox, it opens the next account with no proplem

[2019-12-03 20:26] rex706 commented on #75
[SAM_1.4.1.0-Pre1.zip](https://github.com/rex706/SAM/files/3918554/SAM_1.4.1.0-Pre1.zip)

Please try this pre-release version, enable 'Sandbox Mode' in the settings, and let me know if it solves your issue. If so, I will prepare a new release.

[2019-12-04 07:05] alprutxd commented on #75
Works bro :D ty <3

[2019-12-04 14:52] ColinTheShark opened #78 "SAM just closes"
I have no second instance of SAM running and when I open it, it appears for a moment and just disappears again. It's available from the icon tray next to the system clock, but hovering over the icon just makes it disappear (indicating a crashed process maybe?). I don't know what might help, so here's a gif of what happens (roughly).

![](https://i.imgur.com/kFvzfd6.gif)

<sub>My taskbar is at the

[2019-12-04 15:02] ColinTheShark commented on #78
Okay, seems like a recent update broke things.

I did not enable encryption of the data because I don't need it (reliably the only user). Turns out, an update has encrypted the data and I never specified a password (since I never encrypted it).

Backup file (as seen in the GIF of my initial comment) and the new one SAM generated.

![Backup](https://i.imgur.com/7voFUEC.png)
![New File](https://i.im

[2019-12-04 18:49] rex706 commented on #78
Is it possible that you may have made a manual edit that could have corrupted the dat file? After looking at the logic for determining whether password protection is enabled, it will first look at the user password protection settings and if that is false it will attempt to deserialize the file _without_ a password, and if that fails it will return password protected is true.

However, you should

[2019-12-04 19:30] ColinTheShark commented on #78
I have always verified to only make legit changes and keep the XML Layout 1:1 in all cases. That's why I was surprised to find it this way. I also have never set a password, which further confused me as to why it was suddenly encrypted.

---

I was, I kept a backup after deleting some accounts a few weeks ago :P

[2019-12-08 18:58] Asmund11 opened #79 "No arguments found"
https://i.imgur.com/uGRVNP5.png

It happens when i try to update SAM using Updater. If i try to update SAM through SAM.exe then everything is good

[2019-12-08 19:04] Asmund11 commented on #79
Btw SAM closes when i try to open Settings

[2019-12-09 17:06] rex706 commented on #79
You have asked about this before and I've mentioned that [the updater is not supposed to be run independently](https://github.com/rex706/SAM/issues/25#issuecomment-475813137). I will look into downloading the updater when updating and then deleting it afterwards when it is no longer needed  since it is a small file so users won't try to use it out of context.

Also, SAM does not close when opening

[2019-12-10 22:55] Asmund11 commented on #79
Check this out
https://streamable.com/fx33b
[Новый текстовый документ.txt](https://github.com/rex706/SAM/files/3947527/default.txt)

[2019-12-11 04:11] PrestigeGamer opened #80 "Cant open SAM"
Tried to open SAM after updating it but it doesnt open. It shows up in the Taskbar and Taskmanager but i cant open it or leftclick it in the taskbar. Tried to reinstall, didnt help.

[2019-12-11 04:14] #80 closed

[2019-12-12 17:45] ColinTheShark commented on #78
I don't know how, but it randomly encrypted the `info.dat` again. No password was set, SAM just closes right after opening.

[2019-12-12 21:29] rex706 commented on #78
Are you making manual edits to `info.dat`? Are you using any strange characters for any inputs? While the next release should solve this issue by checking password length (since it can never be 0 after the initial password prompt), the only event that would cause this in the first place is a problem deserializing the file itself _without_ a password.

[2019-12-14 19:59] ColinTheShark commented on #78
I sometimes edit the info.dat manually when I have to put in a lot of info at the same time (e.g. profile URLs for 10+ accounts).

But: I always make sure to adhere to the previous standard and layout and also check if anything breaks.

[2019-12-16 06:51] Blowjobbilly opened #81 "Moar Bugz & a Suggestion"
When attempting to copy passwords sam crashes.
Parameter options don't save.

[2019-12-16 19:13] rex706 commented on #81
Are you using the latest version? I don't experience any issues with copying account passwords through the context menu both with password protection enabled and disabled.

I see that the -forceservice parameter is the only one that seems to not persist to the settings window. Is this what you are referencing? Or are there additional problems as well? Or do you mean that they do not apply to the S

[2019-12-18 03:42] Blowjobbilly commented on #81
Yeah, I'm using the latest version. I updated through the updater.
But, idk it crashes for me.

![!](https://user-images.githubusercontent.com/58930346/71053770-3a77f480-2158-11ea-970b-f773e31eb3f8.gif)
I set only these few options, but they doesn't persist at all. As soon as I close the options menu they reset.

![!](https://user-images.githubusercontent.com/58930346/71053799-57acc300-2158-11ea-9

[2019-12-18 22:26] marius137 opened #82 "add copy username option to right click menu"
This should be an easy one since there is already an option to copy the password.
The even better version would be an option to copy username:password for account sharing.

[2020-01-12 06:37] krnl0x0 opened #83 "Steam Guard for Chinese"
As in issue #25 I find that in Chinese, the "Steam Guard" is translated to "Steam 令牌", which will cause SAM fail to locate the window.

And also, when typing the 2FA code, it will trigger the IME working, but that's a small issue.

[2020-01-13 18:24] 2Eggsss commented on #82
I've made a pull request (as seen above) with the feature added. It may be added...

I also want to add a "Copy Profile URL" option but I don't know if anyone would want that as well by any chance.

[2020-01-17 11:46] Nou4r opened #85 "Annoying error"
![image](https://user-images.githubusercontent.com/12816677/72610320-53c2bb00-3927-11ea-9db8-7030fe045031.png)
To avoid this please check if the userdata folder exists first before trying to delete it.

[2020-01-17 11:54] Nou4r opened #86 "Close > minimize"
Option if close is clicked the tool minimized to task bar
![image](https://user-images.githubusercontent.com/12816677/72610752-7f927080-3928-11ea-874b-742588f46f7f.png)

Right click Exit means exit normally like it does now.
![image](https://user-images.githubusercontent.com/12816677/72610761-8caf5f80-3928-11ea-87de-a98b252e6a3c.png)

[2020-01-19 02:55] #86 closed

[2020-01-19 02:57] Nou4r commented on #78
How can we solve this? I dont have a backup for my config file

[2020-01-19 19:48] Nou4r opened #87 "SAM rapes CPU and bugs out"
Sometimes SAM just won't up and my pc goes crazy, in this case it wasnt as bade but still it used 15% of my cpu and it was frozen.
![image](https://user-images.githubusercontent.com/12816677/72687321-013af780-3afd-11ea-9a41-29a3307abe1f.png)

[2020-01-20 10:58] Nou4r commented on #78
WTF it keeps encrypting itself out of fucking nowhere this is the second time i lost a batch of accounts and there isnt even a solution to this??

[2020-01-20 12:50] rex706 commented on #78
@Nou4r are you making manual edits to your info.dat file? You can try the temporary fix I suggested earlier in this thread.

[2020-01-20 17:28] Nou4r commented on #78
I do not touch my info.dat file whatsoever and sadly that temp fix didn't work out for me.

[2020-01-20 17:30] Nou4r opened #88 "Show Game List?"
It would be awesome if SAM listed all the games on an Account and perhaps with a little marker on games that have a ban, this would truly be the an awesome addition.

[2020-01-21 05:54] Nou4r commented on #87
This happens if SAM is left for a hour or so alone.

[2020-01-21 22:23] rex706 commented on #78
@Nou4r  As mentioned higher up in the thread, the reason this is a problem in the first place is because your info.dat **fails to deserialize**. I have already comitted code to fix the issue of encrypting the file when this happens, but without knowing why it occurs for you in the first place it will still render your file unusable. Do you use any less than or greater than characters (< >)? If not

[2020-01-21 22:27] rex706 commented on #87
I will test this to see if I can reproduce the issue.

[2020-01-21 22:29] rex706 commented on #88
I will look into whether this is possible.

[2020-01-21 23:01] rex706 commented on #83
@krnl0x0 what do you mean by "trigger the IME working"?

[2020-01-23 18:23] 2Eggsss opened #89 "Profile Images not loading after reload"
Dunno if Valve have updated Profile Image URLS again but images are not loading for a few days for me now, I will check and update as required.

@rex706 please add bug tag, thanks :)

[2020-01-25 08:34] Nou4r commented on #89
Works perfectly fine for me, but when i click reload button on a individual account it doesn't work but isn't even important.

[2020-01-25 14:12] 2Eggsss commented on #89
Reloading all of them at the same time worked fine, but individual reloads fuck up the image so theres still a bug somewhere

[2020-01-25 14:18] krnl0x0 commented on #83
@rex706 It means that the Microsoft IME for Chinese is enabled by default, therefore when SAM start typing 2FA code, IME will catch and treat them as Chinese "syllable" instead of normal English inputs.

That's not a big deal, because the IME can be disabled. And the only way I find to bypass it, is to enable the CapsLock, I've implemented using this method via https://github.com/krnl0x0/SAM/commi

[2020-01-25 17:33] rex706 commented on #89
Looks like Valve added a text element right before where the image is usually found.

[2020-01-26 13:31] 2Eggsss commented on #88
Its possible to get a list of all the games on an account BUT if you have an account with 500+ games on it (like me on my main profile) then that list would cause the application to slow down a lot I guess...

Also, afaik, the API only retrieves info about bans in general and does not specify which game the ban is on.

[2020-01-28 16:34] Nou4r opened #90 "Right click > Login without Parameter"
^title
would be very nice

[2020-02-02 13:12] KittyBabyMan commented on #89
Hello. This bug is still occurring. Is there a chance this update has been pushed? Or do I need to update? SAM doesn't detect any pending updates, and I don't think the latest download addresses this issue.

[2020-02-02 21:25] 2Eggsss commented on #89
It's been pushed to the repo, if you need it immediately you need to compile it yourself.

[2020-02-02 21:47] KittyBabyMan commented on #89
Ah, thank you!

[2020-02-03 03:38] rex706 commented on #89
I am planning to make an official update as soon as it's ready. I know there are a bunch of fixes that are ready to go but there are still a couple of larger outstanding items on my todo list that I have to take care of. I've been a bit more busy with work and other real life things since the new year but I should be able to get back to working on SAM regularly this next week.

[2020-02-20 10:56] clahrk commented on #89
When can we expect an update to fix the profile pictures? Thanks.

[2020-02-20 22:37] rex706 commented on #89
@clahrk I am currently looking more into #78 and #81 and will hopefully have an update out sometime this weekend. I know a update has been long over due so I will do my best to get it out as soon as it is ready.

[2020-02-20 23:35] rex706 commented on #90
I apologize, but I might need some additional explanation on what you mean by 'Login without Parameter'. Does this mean you want another context menu item that logs in without any parameters? Does this also include the functionality of the -login parameter? There are a couple of hesitations I have with doing this. Could you please explain a use case that this would be beneficial for?

[2020-02-22 15:52] rex706 commented on #88
Unfortunately, it does not seem like this is currently possible with already available methods. Here is the url for the various API calls that Steam supports: https://steamcommunity.com/dev. You can then go through the various Steam Web API urls to see what is possible.

[2020-02-25 01:34] deprale opened #91 "Padding is invalid and cannot be removed."
Title.
It pops up no matter what password I insert.

[2020-02-25 15:37] rex706 commented on #91
Hm, I'm not quite sure what you mean. Could you please provide a screenshot, if possible?

[2020-02-26 03:17] deprale commented on #91
Building my own, it happens when i input any password even if its the correct one...

[2020-02-26 16:22] rex706 commented on #91
This may be happening if you are using an info.dat file that was created with the release version of SAM then trying to use that file with a version that you built yourself. When you build your own, the key that is used for the initial password encryption is different and doing a quick google search of "Padding is invalid and cannot be removed" reveals a lot of issues regarding this same problem.

[2020-02-28 18:10] #75 closed

[2020-02-28 18:10] #78 closed

[2020-02-28 18:10] #79 closed

[2020-02-28 18:10] #83 closed

[2020-02-28 18:10] #87 closed

[2020-02-28 18:10] #89 closed

[2020-02-28 18:10] #85 closed

[2020-02-29 02:05] #91 closed

[2020-02-29 14:41] ColinTheShark opened #92 "Wrong Shared Secret handling"
After I updated today, SAM didn't authenticate the 2FA correctly. It only entered some jumbled mess with percent and dollar signs, closing brackets and the like. Re-entering the Shared Secret didn't help and I had to fall back to Steam Desktop Authenticator to get a correct 2FA code.

Sadly I don't have any screenshots to help here.

[2020-02-29 16:43] rex706 commented on #92
I had adopted some functionality another user came up with to handle the Microsoft IME when entering the Steam Guard code. This simply activates the caps lock before the code is typed and deactivates it if it was not activated prior. I'm not sure how this would affect anything, as after many tests I do not experience any issue, but maybe I will have to create a toggle setting for it if it is the r

[2020-02-29 19:41] oSurge opened #93 "wont load accounts and is giving me a error."

[2020-02-29 20:59] rex706 commented on #93
What error are you getting?

[2020-03-01 12:09] ColinTheShark commented on #92
Activating capslock sounds like a bad idea, as the input is auto-capsed by the steam client.
Activating Capslock makes 8s and 9s become ( and ).

[Also I made a gif.](https://files.catbox.moe/nu88bv.mp4)

![](https://files.catbox.moe/fna3us.gif)

[2020-03-01 19:12] rex706 commented on #92
Alright, then I think the best solution would then be to make a toggle setting so users who need it can enable it.  I will have a fix out soon.

[2020-03-03 00:50] rex706 commented on #83
@krnl0x0 do you know if this is an issue if `SendMessage()` is used isntead of `SendWait()`? Does Caps-Lock need to be toggled in the case of using `SendMessage()` in `MainWindow.xaml.cs`?

[2020-03-03 16:23] #92 closed

[2020-03-05 21:51] KillaBoi opened #94 "Updater.exe keeps deleting itself and won't update"
I have 1.4.1.0 and I'm trying to update it to 1.4.1.1, it says it's reading the update manifest file but then just closes itself.

Any ideas?

[2020-03-06 04:40] krnl0x0 commented on #83
@rex706 I've tested and it seems totally fine with `SendMessage`, even without CapsLock. So, nice work!

I tried to look up the MSDN, and found

in [WM_IME_CHAR](https://docs.microsoft.com/en-us/windows/win32/intl/wm-ime-char), so it means that IME will produce the `WM_CHAR` eventually for system to handle. In another word, if we send `WM_CHAR` message, then we can actually bypass the IME.

And yo

[2020-03-12 16:46] rex706 commented on #94
Some users were trying to run the updater independently without passing it any arguments, which the updater requires, so to avoid confusion SAM will delete the updater when it is not needed and acquire it only when updating. This shouldn't really be a big issue since the updater is such a small file.

I'm not sure what is going on with the inability to read the manifest, as it is just a link to:
h

[2020-03-15 02:50] 2Eggsss commented on #94
I just downloaded the latest SAM.exe and moved it into my current folder and deleted the old one and that seemed to do the trick, but worth looking into...
Cheers!

[2020-03-16 16:43] sayancoolest opened #95 "program crashing"
after opening settings tab programs crash for me

[2020-03-18 02:46] rex706 commented on #95
Is it possible your SAMSettings.ini file is corrupt? Has this always happened or does deleting that file and restarting SAM do the trick? Are you on Windows 7 or 10? Do you have the latest .NET installed?

[2020-03-20 21:53] PeniPeg opened #96 "Bans aren't being displayed"
the title says it...

I am using my api key but nothing happens upon reloading or refreshing the accounts

[2020-03-23 14:46] sayancoolest commented on #95
I deleted the Settings.ini file and its working fine
Thanks

[2020-03-23 14:46] #95 closed

[2020-03-25 16:04] rex706 commented on #96
The application will store each account's unique steam id in the info.dat file if it can be found from either your config.vdf file in your `\Steam\config` file path, or from the profile (vanity) url if you provided one when adding the account to SAM. The steam id is needed in order to utilize the web api to collect information about accounts like their bans. In order for an account to exist in you

[2020-03-26 01:06] PeniPeg commented on #96
completely removed SAM with exports and reinstalled it, works now :)

[2020-03-26 01:06] #96 closed

[2020-03-27 15:31] NNiX1 opened #97 "crashing"
I need to change setting but whenever i click on setting it freezes and crashes 100% of time

[2020-03-31 01:21] MattiasMoenster2019 opened #98 "2FA problem"
My account with 2FA enabled won't "auto login" i have the shared secret from Mafiles in sda and i ran SAM in administrator mode i don't see what iam doing wrong?

[2020-04-02 01:32] Nou4r commented on #90
In case we per default like to login without the -login parameter, add another context menu item that lets us login to the selected account via the -login parameter.

Hope this is clear enough, thanks again for the great wok on this amazing project.

[2020-04-03 00:06] rex706 commented on #97
Have you tried running as Admin? The application may have an issue saving the settings file if installed somewhere like in the Program Files directories.

[2020-04-03 00:07] rex706 commented on #98
The auto login feature is only triggered if Steam is not already running. Could this be the problem?

[2020-04-03 02:10] MattiasMoenster2019 commented on #98
No it does not seem to be the problem have tried with steam closed and open (Checked in joblist)
I reinstalled the program (And steam) Multiple times even tried it on a newly installed pc and the 2fa simply does not work for me anymore :( It was a great service while it worked tho! Rly hope you get it fixed would be epic :)

[2020-04-03 18:24] rex706 commented on #98
I think I misunderstood the problem originally. It is specifically just with the 2FA? Does it hang on the Steam Guard window? Is anything entered into the Steam Guard box? Is Steam opened at all by SAM?

[2020-04-03 19:48] MattiasMoenster2019 commented on #98
Yes it just opens the login thingy uses the username:password then when the steam guard opens it does nothing at all (No wrong text entered)

[2020-04-06 02:42] rex706 commented on #98
After a lot of thinking, the issue might be that SendMessage and PostMessage are blocked in some cases. SendKeys is what was being used before, which may have worked for you previously. I will think about how to implement an option to select the automatic input method and options like Microsoft IME.

[2020-04-07 00:56] MattiasMoenster2019 commented on #98
Okok and Ty for your time. Have a great day :)

[2020-04-25 13:56] tempestuz opened #99 "2fa doesnt support win 7 mode"
doesnt fill in 2fa in win7 sandbox

[2020-04-27 15:26] rex706 commented on #99
This may be related to #98. I made options to select which auto input method to use, since it was changed recently to support something else, but can probably be changed back without any issues for most users. I will prep an update and get that out today.

[2020-04-27 18:17] Nou4r opened #100 "SAM takes long time to load"
https://streamable.com/seticl

Idk what might be causing this but its really annoying to wait a few seconds everytime i launch SAM.

[2020-04-29 09:31] Spooonky opened #101 "Drag 'n Drop Sort"
Hey,
It would be very helpful if you could insert a sort using drag and drop. In this way, relevant accounts could be pushed up.

[2020-05-03 13:50] #98 closed

[2020-05-03 13:50] #99 closed

[2020-05-03 13:52] rex706 commented on #98
Please try the SendWait option
![image](https://user-images.githubusercontent.com/15636269/80915982-c1062a80-8d23-11ea-806f-2cf48ab9084b.png)

[2020-05-03 13:52] rex706 commented on #99
Please try the SendWait option
![image](https://user-images.githubusercontent.com/15636269/80915982-c1062a80-8d23-11ea-806f-2cf48ab9084b.png)

[2020-05-05 21:20] zallaevan opened #102 "Crash after initial setup"
I have reinstalled OS. Before, it went flawlessly, but now it just closes after it asks me if I want to set the master password. It says that "The application stopped working". I think that it would be a great idea if you added a logging system, so we can report bugs better. BTW great app, your work is very valuable.

[2020-05-06 09:01] zallaevan commented on #102
After restarting, it was fixed. But I still recommend the logging feature.

[2020-05-06 09:01] #102 closed

[2020-05-07 04:28] wrLd1337 commented on #96
Please add that!

Thanks!

[2020-06-07 01:29] 2Eggsss commented on #100
I think it's the amount of accounts you have along with the fact that I think it checks for bans every time you open up the client

[2020-06-10 19:24] Robby-Sodhi opened #103 "How do I get it to check remember my account whenever it logs in?"

[2020-06-11 23:42] infowolfe opened #104 "Feature Request: Option to auto-populate profile url"
It would be a big value-add if you were able to login to accounts automatically from SAM to auto-populate the profile url.

[2020-07-02 13:35] rex706 commented on #103
Currently this is not working if you are also using the -login parameter. You can disable this and SAM will automatically populate the username password box and also check the remember me checkbox. Be careful with this, though, since if you tab into Discord or something it will send the characters to whatever is focused. I have tried forcing the registry to update with the correct values to get ar

[2020-07-02 13:38] rex706 commented on #104
I will consider coming up with a routine to automatically login cycle through accounts which do not have the profile url or steamId populated for that account. I am also looking into supporting this information to be imported from the bulk delimited importer. I should also just add a field to enter the steamId directly if it is already known right into the input box.

[2020-07-02 13:39] rex706 commented on #101
Yeah this is basically #23. I've put this on the back burner for a while but I will think about revisiting it.

[2020-07-02 13:44] rex706 commented on #100
Like KillaBoi said it could be the number of accounts you have configured. The more you have the longer it _could_ take for the file to be decrypted. I doubt it's the ban checks, which do automatically update if you have that setting enabled, but it runs in an async method with as many steamId's it can fit into a single webapi request.

You could try disable checking for udpates on startup?

[2020-07-02 14:01] infowolfe commented on #104
For me, personally, with the number of accounts I have/have access to, having this automated within SAM makes much more sense than doing it as an import-time thing.

Logic-wise, I would recommend something like "if no steam profile set && reload ban status then login and set steam profile uri"

[2020-07-07 06:01] xiao-e-yun opened #106 "The sleep time can be adjusted to a non-integer (ms)"
I hope he can be more precise

[2020-07-07 10:45] xiao-e-yun opened #107 "Button continuous touch"
Is it possible to set the button to only one click(non-sandbox mode)
otherwise, due to multiple wake-ups, normal input is not possible

[2020-07-26 19:55] Mermoud46 opened #108 "Game ban and Vac ban are not working in list mode"
Hey, when you put the list mode, the Vac Ban and Game ban values are all 0 even after refresh and reload account.

[2020-08-10 05:08] KillaBoi commented on #108
Can confirm this exists, just tested now on v1.4.2.0, will look into it

[2020-08-10 05:09] KillaBoi commented on #94
I'm self closing this since it seems to have been fixed...

[2020-08-10 05:09] #94 closed

[2020-08-10 15:27] Mermoud46 commented on #108
Tested on last version and old version always this, also remember password not working for me

[2020-08-12 23:15] Tank-Missile commented on #38
@rex706 You could just use [Mono](https://www.mono-project.com/). Games like Terraria which are also written in C# use it for Linux support.

[2020-08-13 16:53] SmokyTheGun opened #109 "wont start"
the program doesnt start, it opens for a second or two and then closes without massage

[2020-08-17 15:25] Nou4r opened #110 "Always log in invisible/offline?"
I want when logging in via SAM to always be shown offline or invisible. Is it possible to do that?
https://i.imgur.com/PVkt685.png

[2020-08-28 21:19] csmit195 opened #111 ""The Input is not a valid Base-64 String....""
Hi, I'm an account reseller, I find accounts for the AU community, in last month I've handled over 500usd in cheap account transactions, and finding my specific accounts in my buying history, would be like finding a needle in a haystack.

So, long story short. My windows 10 has a bug, one that I've found impossible to fix or google about over the last 2 years, and It's causing issues. Essentially,

[2020-08-28 21:20] csmit195 commented on #111
![image](https://user-images.githubusercontent.com/5733443/91615944-0c75d000-e9c8-11ea-97a5-ad9558023405.png)

[2020-08-28 21:23] csmit195 commented on #111
![image](https://user-images.githubusercontent.com/5733443/91616167-8a39db80-e9c8-11ea-94dd-6fd5659398b7.png)

[2020-09-03 14:07] matt1tk commented on #109
same issue
:c

[2020-09-03 14:08] matt1tk commented on #109
https://github.com/rex706/SAM/releases/tag/v1.4.1.1 works for me though @SmokyTheGun

[2020-09-10 21:45] RomanticMG opened #112 "crash"
i add my acount,but i run this exe again,it will crash certainly.

[2020-09-10 21:55] #112 closed

[2020-10-30 10:55] Kristiaen opened #113 "Banned accounts wont show"
Steam api key is set, doesn't display banned  accounts

![V6GSnE](https://user-images.githubusercontent.com/73285193/97697143-4427f380-1aaf-11eb-98cc-d0a08259d1d1.png)

[2020-10-30 11:07] #113 closed

[2020-11-02 21:37] rex706 commented on #38
@Tank-Missile Thanks I will give this a look. Did not know something like this existed.

[2020-11-02 21:43] rex706 commented on #107
@xiao-e-yun could you please explain a little further? what do you mean "normal input is not possible"?

[2020-11-02 22:48] xiao-e-yun commented on #107
Maybe I enabled `remember password`（Deactivate `-login` )
When you keep clicking to log in repeatedly
it let the old timer quit SAM
And will repeat restart multiple times STEAM
Repeat output account & passwords
也许我启用了“记住密码”（停用“ -login”）
当您持续单击以重复登录时
它让旧的计时器退出SAM
并将重新启动STEAM
重复输出帐户和密码

[2020-11-08 22:17] KillaBoi commented on #111
Hello fellow skeet user!

Did you encrypt your info.dat file by any chance? The info.dat file is usually just a XML file with all your data on it, if it looks like that then there's a chance it might've corrupted to a point where it's unrecoverable... did you make any backups or anything?

[2020-12-10 22:30] VladozPlay opened #114 "When is the Update?"
When to expect version 1.5 with fixes?

[2020-12-15 20:45] rex706 commented on #114
I will release a new version as-is with current fixes. I have been tryuing

[2020-12-15 21:49] #82 closed

[2020-12-15 21:49] #104 closed

[2020-12-15 21:49] #106 closed

[2020-12-15 21:49] #108 closed

[2020-12-15 21:49] #114 closed

[2020-12-15 22:08] rex706 commented on #111
Unfortunately I think @KillaBoi is right. It looks like your info.dat file is corrupt, and if that is the case then there really isn't anything I can do to recover your account data. What I can do, though, is look into making a backup feature that would save up to a user-defined amount of backup info.dat files into a separate folder of the user's choosing so there will ideally always be at least o

[2020-12-15 23:21] rex706 commented on #110
I've been looking into this, as I think it's actually a pretty valuable feature to have, but it's giving me a harder time than expected to figure out. This is usually controlled by the Steam Friends List window settings and then setting this:
![image](https://user-images.githubusercontent.com/15636269/102284074-927b3f80-3f01-11eb-8558-75135702ab95.png)
to **OFF**.

It looks like it *may* be saved

[2020-12-15 23:23] rex706 commented on #109
Interesting. I wonder what could have changed between 1.4.1.1 and the next version. I'll take a look at the changes, but you may just need to install [.NET Framework 4.8](https://dotnet.microsoft.com/download/dotnet-framework/thank-you/net48-web-installer).

[2020-12-15 23:24] rex706 commented on #107
I think I understand. You want to cancel the current login thread and start a new one if multiple buttons are clicked in sequence. This makes sense.

[2020-12-16 01:00] xiao-e-yun commented on #107
When sandbox mode is disabled,disable this login buttons until the process is complete,I often double-click, which makes the program meaningless to log in again

[2020-12-16 16:07] rex706 commented on #81
Been a while since I had the time to look back into this issue. Are you still having problems? It could potentially be related to needing [.NET Framework 4.8](https://dotnet.microsoft.com/download/dotnet-framework/thank-you/net48-web-installer). And I'm sorry you don't like the SAM "Metro" window theme, but I think at this point it would be too difficult to have it be a toggle-able setting.

[2020-12-16 16:32] rex706 commented on #88
Turns out [**GetOwnedGames (v0001)**](https://developer.valvesoftware.com/wiki/Steam_Web_API#Game_interfaces_and_methods) is a webapi method with the description: `GetOwnedGames returns a list of games a player owns along with some playtime information, if the profile is publicly visible. Private, friends-only, and other privacy settings are not supported unless you are asking for your own persona

[2020-12-16 16:51] #93 closed

[2020-12-16 16:52] rex706 commented on #97
You may need [.NET Framework 4.8](https://dotnet.microsoft.com/download/dotnet-framework/thank-you/net48-web-installer) if you don't already have it.

[2020-12-16 17:45] #67 closed

[2020-12-23 11:34] widow-9098 opened #115 "when i open the source in visual studio i get a error"
error`Severity	Code	Description	Project	File	Line	Suppression State
Error	XDG0008	Button is not supported in a Windows Presentation Foundation (WPF) project.	SAM	SettingsWindow.xaml	26
`

[2020-12-23 14:53] rex706 commented on #115
Build > Clean Solution. Then Build > Build Solution. Then restart VS and Start SAM. Not sure why I had to do this for it to work.

[2020-12-24 23:48] KillaBoi opened #116 "2 Suggestions"
Hi Alec!

I hope you have a Merry Christmas and a Happy New Year!

Just 2 suggestions which could possibly be added sometime in the future perhaps (I'll potentially try working on them myself with a PR as well since I'll be in hospital soon and won't have anything to do so might as well code 😛)

The first one is to add Windows Toasts/Alerts for bans applied to profiles that weren't there before ei

[2020-12-26 17:47] HarvoBOT opened #117 "[Bug/Investigation] Timeout checker not working."
I saw that this account manager has timeout which was mainly why I started using it. I tested it by getting a quick timeout but it did not seem to display. I have entered the steam web API key but no luck. Is there something im missing here or is it broken? A quick answer to this would be excellent.

[2020-12-27 10:51] pointydev opened #118 "-developer flag is invalid"
Hey there,

Currently, the settings have an option for the `-developer` parameter to be used. This parameter doesn't exist, as can be seen [here](https://developer.valvesoftware.com/wiki/Command_Line_Options#Steam_(Windows)). The correct flag is `-dev`.

Thanks,
Elliott

[2020-12-28 14:34] rex706 commented on #117
Unfortunately, the timeouts have to be set manually yourself. There is no API method to automatically retrieve game timeouts in that way that I know of. I imagine they would be different per game anyway. When you get a timeout in game, you can right click the account and set one yourself through the context menu.

[2020-12-28 14:41] rex706 commented on #116
Hey KillaBoi!

Thanks I hope you are enjoying your Holidays as well!

The alerts for accounts that have been banned on the next check is an interesting idea. Definitely doable. Would definitely have to be a setting users can toggle if they don't want it.

I have been looking a lot into the 'Remember Password' checkbox stuff as there seems to be a few different moving pieces involved with this. I'v

[2020-12-28 14:47] rex706 commented on #118
You can temporarily get around this by enabling the custom parameters box and adding it manually there for now until it is fixed.

[2021-01-01 20:06] KillaBoi commented on #116
That sounds good, I can try working on the alert stuff whilst i'm in the hospital to keep me productive for the few hours that i'll have to stay in.

In terms of the autologin stuff, the "ConnectCache" tokens are located in the `config.vdf` file and are given to you when you press "Remember Password". This is what is used to identify you the next time you open Steam and it autologs you in. It work

[2021-01-02 05:40] #117 closed

[2021-01-03 15:02] mrwhaler opened #119 "Steam Accoun Manager not started"
https://github.com/sandboxie-plus/Sandboxie/issues/312

[2021-01-23 21:54] #115 closed

[2021-01-23 21:55] #97 closed

[2021-01-23 21:56] rex706 commented on #109
@SmokyTheGun @matt1tk is this still an issue with the latest version and with .NET 4.8?

[2021-02-03 01:20] Zeppy6177 opened #120 "Wont show when an account is banned"
I have a steam API key in the settings but it wont show if the accounts are banned.

EDIT: I figured it out, i needed to add the steam id but when I click login all missing it does not add steam ids

[2021-02-05 17:12] matt1tk commented on #109
I'm a linux user now :sunglasses:

However, I'm 99% certain I had .net48 installed at the time as I frequently develop with it.

[2021-02-16 16:22] rex706 commented on #120
After login all, the `Refresh Accounts` routine is supposed to run and collect all new steam id's from your config.vdf. Try running it manually through the `Edit` file menu.

[2021-02-23 09:38] notFunnys opened #121 "Crashes with saved accounts"
SAM is saving my account but if i close the window i cant open it again (crash)
[NET 4.8](https://i.imgur.com/KhUh8BP.png)

Translated: .NET Framework 4.8 or a newer update is already installed on this computer.

[2021-02-26 15:57] rex706 commented on #119
I don't personally use Sandboxie, or any similar VM with SAM for that matter. I currently have no plans to install it.

From the issue you linked it seems like this is an issue with running on startup? Is that the correct assumption?

The current run on startup implementation just copies a shortcut to SAM to the startup folder.

[2021-02-26 16:00] rex706 commented on #121
Depending on where you have SAM installed, you may need to run it as Administrator. Reading/writing your data and settings files does not work in places like the Programs Folders without elevated privileges.

[2021-03-02 11:34] mrwhaler commented on #119
Greetings! Normal startup runs without errors. Running through the avast sandbox also goes without errors. The error is only in this program. I made the settings in the ini file (SandboxMode = True)

[2021-03-02 14:07] rex706 commented on #119
Unfortunately I do not experience any error with SAM not starting when SandBoxMode=True. This feature prevents Steam from being shut down between logins, so it is possible multiple instances of Steam can run at the same time under certain conditions. If this is not what you intend to use it for then you can keep SandBoxMode=False. The original ticket for this item was #75

[2021-03-02 15:12] mrwhaler commented on #119
I decided to check again, since I postponed attempts to figure out the error. Launched it with a new version of the sandbox installation and the program started without errors. I think the issue can be considered resolved.

[2021-03-02 15:13] #119 closed

[2021-03-08 00:02] lulacoding opened #122 "SAM Crashes when you Open Settings"
I found a bug when you open settings SAM Crashes, I'm not sure if it is due to something on My end but I'll leave a Clip attached for you to See.
https://streamable.com/0q3u3e

Hope this Help, Lula

[2021-03-11 12:02] TheSuspect2306 opened #123 "suggestion display for wingman and comp."
it would be nice if you can add a counter or display for ranks and wins for any matchmaking gamemode for example wingman, dangerzone or competitive

[2021-03-21 19:46] faw187 opened #124 "crashes when I run"
Downloaded. Launched, pressed and then crash. I restart it anyway, the crash tried on behalf of the administrator does not work. Latest version

[2021-03-25 13:06] rex706 commented on #124
Where is SAM installed? I have no issues downloading a fresh version and using it normally.

[2021-03-25 13:08] rex706 commented on #122
Where do you have SAM installed? Do you have .NET 4.8? Have you tried running as Admin? I cannot reproduce this issue people seem to be having with the settings causing a crash. You could try deleting SAMSetrtings.ini and it will make a fresh one for you.

[2021-03-25 13:09] rex706 commented on #121
Is this still a problem? I am unable to reproduce this issue and therefor cannot make a fix for it.

[2021-03-25 13:09] #120 closed

[2021-03-29 01:54] KevAquila commented on #124
Having same issue, left it in the download folder, moved it to C:\ and they both crash right after passing the password prompt.

[2021-04-01 20:25] walladinmamafet opened #125 "crashes when i run"
so after updating it it crashes when i run it. i tried reverting but now it seems like it doesnt work anymore. i got about 500 accounts, and if this doesnt get fixed theyre gone forever

[2021-04-04 22:53] KillaBoi commented on #123
It requires SteamKit implementation, which would get kinda hard especially when you're dealing with 2FA and communicating with CSGO GC but it isn't impossible.

[2021-04-06 04:28] TheSuspect2306 commented on #123
Do you know when he is updating it or did he abandoned SAM ?

[2021-04-08 10:21] Majentas commented on #124
it's a bug with, SAMSettings.ini, just delete it and it works again, all your accounts will be restored

[2021-04-08 10:21] Majentas commented on #125
it's a bug with, SAMSettings.ini, just delete it and it works again, all your accounts will be restored

[2021-04-16 04:12] saltyfish57 opened #126 "2FA Not working properly"
I put in the correct Shared Secret code and when I log in using SAM I see the correct code for a second, but it's quickly replaced by some some random string of letters and numbers.

[2021-04-16 04:14] #126 closed

[2021-04-22 19:45] gr1ndy commented on #125
my accs didnt restore..

[2021-04-25 07:08] cartoonjs1 opened #127 "Failed to load steamui.dll"
Steam opens normally when i manually open it but when i try to login with SAM it says Failed to load steamui.dll
![image](https://user-images.githubusercontent.com/70315324/115984124-1af3a600-a5ae-11eb-9bb2-dc7b8dd3b178.png)

[2021-04-29 16:08] rex706 commented on #127
Please make sure the Steam path is correct in the settings for SAM. All SAM does it run steam with certain command line parameters.

[2021-04-29 16:12] rex706 commented on #125
I don't ever experience a crash with SAM. Without additional details about what is going on I can't do much to help. You could try Majentas suggestion and delete *only* the settings file and try running it again. Account data is stored in info.dat.

[2021-05-09 07:37] malakhov-beep opened #128 "Is it possible to add auto-login for ALL accounts, and not for one specific one?"
:)

[2021-05-17 15:59] rex706 commented on #128
There is an option for this in the Edit file menu. You may have to also click Reload Accounts in the same menu when it finishes to refresh the results.

[2021-05-19 20:19] ddranic opened #129 "Use your own email"
How to use your own email (not gmail) for the SAG?

[2021-05-21 00:05] xiao-e-yun opened #130 "use windows regedit quick login"
maybe u can use regedit
PC\HKEY_CURRENT_USER\SOFTWARE\Valve\Steam\AutoLoginUser
use steamID![image](https://user-images.githubusercontent.com/67814228/119063261-3fa33800-ba0b-11eb-9c6b-b57317cfa9f7.png)

like [Bsteam](https://github.com/xiao-e-yun/better_Steam_tool)
#languages is tchinese

[2021-06-01 15:23] #118 closed

[2021-06-25 16:09] karmakarmakarmakarmakarma commented on #127
Getting this one too

[2021-07-03 21:09] dnk-codes opened #132 "Remember Password not working"
I have _Remember password_ checked in setting but everytime I restart steam i am prompted to re-enter the password. How can I fix this?

[2021-07-10 15:37] dylancl commented on #125
This worked for me.

[2021-07-22 16:41] TT-IPIP opened #133 "no Chinese"
Can you compile Chinese

[2021-07-25 10:22] SENPAY98K opened #134 "import accounts from .txt in format (username:password)"

[2021-08-21 16:46] catgirlkara commented on #125
#135 This should be fixed in my pull request

[2021-08-21 16:51] catgirlkara commented on #125
duplicates #124

[2021-08-21 17:50] catgirlkara commented on #124
duplicates #121

[2021-08-21 17:52] catgirlkara commented on #121
duplicates #109

[2021-08-21 17:55] catgirlkara commented on #122
Might be fixed by #135

[2021-08-21 17:56] catgirlkara commented on #109
Fixed in #135

[2021-08-21 17:56] catgirlkara commented on #121
Fixed in #135

[2021-08-21 17:56] catgirlkara commented on #124
Fixed in #135

[2021-08-21 17:56] catgirlkara commented on #125
Fixed in #135

[2021-09-20 21:09] Gtt1229 commented on #127
The same issue was occurring for me.

1. Check Steam install path
2. Ensure SAM is run as admin

[2021-10-26 08:00] dudits777 opened #136 "SAM does not fill 2fa column when Steam start in Avast Sandbox"
Hi, I Need to **start many Steam**  accounts at same time, and im using **Avast sandbox** for it, but   **SAM doesnt wont to fill  2fa code column**, when Steam works from under the Avast sandbox. It prints the login and password normally, and the column for 2fa just remains empty.

Outside the sandbox, everything works fine. **NetFramework 4.8 is installed**, everything is added to the Avast exce

[2021-11-02 00:53] shojimeguro commented on #132
you have to turn off -login paramters on setting

[2021-11-07 23:02] ulea opened #137 "All accounts are randomly gone/everything resets after opening the program again"
No clue what causes it, it's happened 2 times now, and each time it happens, it's after I have not had the program open for a bit. It's really weird, it's like it'll be fine, and open with all my accs and everything, then just randomly, next time I go to open it, everything is gone. The settings page also resets at the same time when everything else disappears.

Would this be an issue with it not

[2021-11-11 09:52] Nou4r commented on #133
动态网自由门 天安門 天安门 法輪功 李洪志 Free Tibet 六四天安門事件 The Tiananmen Square protests of 1989 天安門大屠殺 The Tiananmen Square Massacre 反右派鬥爭 The Anti-Rightist Struggle 大躍進政策 The Great Leap Forward 文化大革命 The Great Proletarian Cultural Revolution 人權 Human Rights 民運 Democratization 自由 Freedom 獨立 Independence 多黨制 Multi-party system 台灣 臺灣 Taiwan Formosa 中華民國 Republic of China 西藏 土伯特 唐古特 Tibet 達賴喇嘛 Dalai Lama 法輪功 Falun D

[2021-11-11 09:53] Nou4r commented on #137
Its a issue with the password protection, turn it off and you wont face such issues.

[2021-11-12 04:31] ulea commented on #137
as much as I'd like the fix to be easy and "just turn off ___" I am 99% sure that I didn't have password protection on in the first place. I will try this again though, thanks for the idea.

[2021-11-25 18:47] pablo1020 commented on #110
+1 for starting in offline mode

[2021-12-03 00:30] itay0246 opened #138 "Importing user:password accounts not working"
Hello, i tried to import some accounts with few formats and everytime i do that seems like the info.dat file is being buggy and not allowing the program to work well and because of that i lost access to 3 old accounts i had in my old info.dat file
i tried to following formats:
user:pass
user:pass:
user:pass:<blank>
seems like everything is not working my accounts does not have shared secret from t

[2021-12-05 17:56] Snellman29 opened #139 "crash"
If i open settings tab the program is crashing

[2021-12-27 00:13] TT-IPIP commented on #133
你TMD还真是个人S才B

[2022-03-07 00:12] kadeler commented on #137
Usually i get it fixed by pressing Edit → Refresh, but sometimes it just crashes when im tryna log into some account, so i have to manually import from it's own .dat file, and delete the copies i got
Doesn't bother that much since i only have 2 accs, but would be nice if it got fixed

[2022-04-04 11:53] ZenoxVIP opened #140 "Parameters per Account"
Would be awesome if it would be possible to assign specific parameters for each Account.

Why?
So people including me would be able to f.ex. use the launch app parameter to launch specific directly after login.

Thankx for taking it in consideration

[2022-04-06 19:50] lmiol opened #141 "Suggestion for Additional Design"
First of all Thank you for this great app
I made rainmeter desktop button with parallax effect
looks like this

https://user-images.githubusercontent.com/264879/162058383-8f04a2d7-d105-420c-8fd0-81039db15774.mp4

But it looks not so nice of title bar of app and menus
Can you make some settings in ini file for this design?

![image](https://user-images.githubusercontent.com/264879/162058622-977f826

[2022-04-06 19:55] lmiol opened #142 "Possibility to change animation of app start"
Settings for change Animation of app start
Right now is shows up from left.
Can you add menu for second or more animations?
I am very interested in Fadein

This issue relates to this one https://github.com/rex706/SAM/issues/141

[2022-04-06 19:59] lmiol opened #143 "Boolean option to change Profile Name instead of Account name tooltip"
Will be awesome to do boolean option to change Account name tooltip for Profile name tooltip (if exists).
Because right now it is unsecure, especially while stream is running

[2022-08-22 06:17] PindaPixel opened #145 "Suggestion: unhiding from tray with left click"
I can make the window re-appear with right click -> restore, but any other minimized-to-tray program I have re-appears when I left click  the icon. Examples:
* Discord: single click
* Steam: double click
* Origin: single click
* MSI Afterburner & RivaTuner: single click

[2022-08-27 11:57] spati-hub opened #146 "Not working anymore after new update"
Doesn't fill in the login only opens steam I hope it gets fixed.

[2022-09-19 20:33] ILTZ opened #147 "Sam"

[2022-10-06 23:41] Gofastrod opened #148 "Steam"
Steam just released new update. Sam no longer works to login to steam.

[2022-10-07 04:11] FelSCoM opened #149 "Please update steam switched to a new version of the interface"
autocomplete no longer works 🙁

[2022-10-07 05:53] sepehrsohrabi commented on #149
Steam's new sign in interface killed auto login.
Please Fix.

[2022-10-07 06:07] sepehrsohrabi opened #150 "Steam's new sign in interface killed auto login"
Please Fix.

[2022-10-07 10:24] KillaBoi commented on #150
i'm on it, will need @rex706 to accept my pull request though

[2022-10-07 10:50] d0gkiller87 commented on #149
**Solution** : Add `-noreactlogin` into `Edit` → `Settings` → `Parameters` → (box on the bottom for custom arguments)
![SAM](https://user-images.githubusercontent.com/32069685/194534158-6b08d2e2-2ca8-4e6c-b929-a2e72acc9602.png)

So they removed `-login` and a few other command line arguments for some reason, join [the discussions](https://steamcommunity.com/discussions/forum/1/3392923906943661620/

[2022-10-07 10:52] d0gkiller87 commented on #146
Check out the temporary solution: https://github.com/rex706/SAM/issues/149#issuecomment-1271433637

[2022-10-07 10:53] d0gkiller87 commented on #148
Check out the temporary solution: https://github.com/rex706/SAM/issues/149#issuecomment-1271433637

[2022-10-07 10:54] d0gkiller87 commented on #150
Check out the temporary solution: https://github.com/rex706/SAM/issues/149#issuecomment-1271433637

[2022-10-07 10:55] FelSCoM commented on #149
thanks, still working

[2022-10-07 11:05] KillaBoi commented on #150
I committed a pull request #151 with that fix hardcoded into the launcher. If Alec is still active (I added him on discord so we will see) he can potentially push it out as an update, if need be I will take over updates and management of the project if he isn't motivated to work on it anymore since there hasn't been updates in a long time...

[2022-10-07 11:18] #150 closed

[2022-10-07 11:45] d0gkiller87 commented on #150
Sounds great. I think we should also start to work on the `Type2FA()` method so it handles the username/password window. Also I guess I'll use @Venipa's fork as the base since it's more recently maintained. What do you think?

[2022-10-07 11:50] Venipa commented on #150
![image](https://user-images.githubusercontent.com/17952364/194546508-87aa6509-1198-4481-8c2e-acdb29432ab4.png)
add `-noreactlogin` to custom params input in settings

[2022-10-07 15:10] 17sergiom2000 commented on #149
thanks for the fix

[2022-10-07 19:58] KillaBoi commented on #150
I spoke to Alec, he said he was going to work on merging @Venipa's fork into the codebase as well :)

[2022-10-07 20:03] #125 closed

[2022-10-07 20:12] rex706 commented on #141
Nice rainmeter setup. I'll look into coming up with a transparent and headerless option for the UI.

[2022-10-08 17:15] #146 closed

[2022-10-08 17:15] #147 closed

[2022-10-08 17:15] #148 closed

[2022-10-08 17:15] #149 closed

[2022-10-09 03:40] rex706 commented on #143
@lmiol Currently you can fill in the Alias field by right clicking any account and that will be shown instead of the account name. Is that what you mean?

[2022-10-10 16:37] rex706 commented on #129
@ddranic I'm not sure I understand the question. What is SAG?

[2022-10-10 16:39] #128 closed

[2022-10-10 16:39] #127 closed

[2022-10-10 16:41] #121 closed

[2022-10-10 16:43] #132 closed

[2022-10-10 16:46] #109 closed

[2022-10-10 16:46] #124 closed

[2022-10-10 16:47] #32 closed

[2022-10-10 20:26] wollframium opened #153 "avast does not hold"
I use avast to log in to several accounts, but SAM does not enter codes into the avast sandbox window, they need to be entered by hand, is there any solution?

[2022-10-11 10:45] auAuth opened #154 "SAM unable to Start with Windows"
With SAM set to start with windows, on boot it will ask to password protect and then crash when no is pressed. Will do this on each launch.
Settings:
![image](https://user-images.githubusercontent.com/115546346/195070166-5841287b-6f32-4eeb-be98-1991649a1e05.png)

[2022-10-11 20:55] rex706 commented on #153
@wollframium are you using the `SendMessage` input method?

[2022-10-11 20:56] rex706 commented on #136
@dudits777  It works for me using the `SendMessage` input method.

[2022-10-11 21:00] rex706 commented on #154
@auAuth I am not experiencing this issue. Is is possible you have more than one installation of SAM? It will only ask to password protect if it can't find the settings file and assumes it is the first run. Starting with windows is working as expected for me.

[2022-10-11 21:28] #100 closed

[2022-10-11 21:53] rex706 commented on #138
@itay0246 I do not experience any issue importing accounts from the delimiter window using the format: `user:pass` since you are not using shared secrets. My info.dat file looks normal and is working as expected.

[2022-10-11 21:53] #138 closed

[2022-10-11 21:54] #136 closed

[2022-10-11 21:57] auAuth commented on #154
I did only get this issue after redownloading SAM to the version 1.5 which was pushed. I have tried to delete the sam settings file and allowing it to create another one which hasnt helped the issue.

[2022-10-12 01:23] wollframium commented on #153
![image](https://user-images.githubusercontent.com/65495044/195227421-8c9e89bc-23eb-45b4-a379-826be443cb17.png)
this?

[2022-10-12 02:36] rex706 commented on #153
@wollframium yes. Is that the input method you have been using?

[2022-10-12 04:29] wollframium commented on #153
yes

[2022-10-12 12:44] rex706 commented on #153
@wollframium unfortunately, I am unable to reproduce the issue on my side, which makes it very difficult for me to understand the problem. can you make a short clip of what happens?

[2022-10-12 17:44] rex706 commented on #129
There is no account generator in SAM.

[2022-10-12 17:44] #129 closed

[2022-10-13 10:58] desmanSTAR opened #155 "need help /mafile"
hi, explain how to add a mafile to the program SAM
i use my {"shared_secret":"2L8IJuHlb++++ULK0pAtYDlFiXyM="   2L8IJuHlb++++ULK0pAtYDlFiXyM=  --- I add this code in the settings, but it doesn't work
thanks for the help

[2022-10-13 13:03] rex706 commented on #155
Copy/paste your code '2L8IJuHlb++++ULK0pAtYDlFiXyM=' into the '2FA Shared Secret' field for the account it belongs to. It does not go in settings.

[2022-10-13 13:47] desmanSTAR commented on #155
that's exactly what I did

that's exactly what I did. (not in settings, but editing) did not explain correctly

[2022-10-13 14:38] rex706 commented on #155
Can you better explain exactly what doesn't work? As long as you put that code on the correct account it should behave correctly. Verify you are not including any extra spaces.

[2022-10-13 17:10] desmanSTAR commented on #155
your truth I checked everything on my laptop, everything works fine there. maybe I need to reinstall Windows or SDA.
very curious why.
I truly appreciate all your time spent on this.

[2022-10-13 18:12] #155 closed

[2022-10-17 22:58] lmiol commented on #143
Yes. Alias it was what i mean.
i think is better "Custom name" for some reasons.
Thank you anyway!!!

[2022-10-17 22:58] lmiol commented on #143
@rex706 Yes. Alias it was what i mean.
i think is better "Custom name" for some reasons.
Thank you anyway!!!

[2022-10-22 14:36] Trevo525 opened #156 "Failed to load steamui.dll"
Hello,
I tried to use this for my accounts and it threw the error "Failed to load steamui.dll"

![image](https://user-images.githubusercontent.com/21350315/197344930-50e2328a-5d12-4423-a424-9121d0d4fade.png)

I believe that it might have to do with the fact that I didn't populate the 2FA Shared Secret field of my accounts. I want to be able to type the 2fa code from my phone on login. Is this poss

[2022-10-24 13:37] rex706 commented on #156
@Trevo525 what launch parameters are you using in the settings? I was just playing around with an account with it's shared secret removed and Steam waits for input like normal, so I don't think it's specifically related to 2FA.

[2022-10-24 19:18] Trevo525 commented on #156
All defaults. I just tried using it and then changed some settings after it failed. Are there any logs I can check?

[2022-10-26 03:43] RUStambl4 opened #158 "run via batch file"
Tell me how you can implement the launch of accounts through a batch file using SAM.
For example something like this:
start "" "C:\SAM\SAM.exe" "C:\Program Files (x86)\Steam\steam.exe" -login user1 pasword

For example, I have 20 steam accounts. I filled in these accounts in SAM, specified login password and shared_secret from mafile. And now I want to run them simultaneously, through the avast sa

[2022-11-05 18:31] lmiol opened #159 "Sound when click to account to login"
Hi
in this issue https://github.com/rex706/SAM/issues/141

i did Rainmeter Paralax menu. While Pressing at Big White Steam button sounds activation.wav from Big Picture mode.
And it seems would be great to add some param by default to any account to dd a sound while click to login

regards